
$tipsy_foreground: $color_background !default;
$tipsy_background: $color_foreground !default;
$tipsy_font-size: $font-size - 2 !default;
$tipsy_max-width: $width_west + 30 !default;

.tipsy {
	font: {
		family: "Lucida Grande", "Segoe UI", "Tahoma", "Arial", sans-serif;
		size: 11px;
	};
	padding: 5px;
	position: absolute;
	text-align: center;
	z-index: 100000;
}

.tipsy a {
	@include box-shadow(none);
	@include text-shadow(none);
	background: transparent;
	color: #6cf;
	margin: 0;
	padding: 0;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.tipsy-inner {
	@include border-radius(3px);
	@include box-shadow(0 1px 1px rgba(0,0,0,.5));
	background-color: transparentize($tipsy_background, .03);
	color: $tipsy_foreground;
	max-width: $tipsy_max-width;
	padding: 4px;
}

.tipsy-arrow {
	border: 5px dashed $tipsy_background;
	height: 0;
	line-height: 0;
	position: absolute;
	width: 0;
}

/* Rules to colour arrows */

.tipsy-arrow-n {
	border-bottom-color: $tipsy_background;
}

.tipsy-arrow-s {
	border-top-color: $tipsy_background;
}

.tipsy-arrow-e {
	border-left-color: $tipsy_background;
}

.tipsy-arrow-w {
	border-right-color: $tipsy_background;
}

.tipsy-n .tipsy-arrow {
	border-bottom-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top: none;
	left: 50%;
	margin-left: -5px;
	top: 0px;
}

.tipsy-nw .tipsy-arrow {
	border-bottom-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top: none;
	left: 10px;
	top: 0;
}

.tipsy-ne .tipsy-arrow {
	border-bottom-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top: none;
	right: 10px;
	top: 0;
}

.tipsy-s .tipsy-arrow {
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-style: solid;
	bottom: 0;
	left: 50%;
	margin-left: -5px;
}

.tipsy-sw .tipsy-arrow {
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-style: solid;
	bottom: 0;
	left: 10px;
}

.tipsy-se .tipsy-arrow {
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-style: solid;
	bottom: 0;
	right: 10px;
}

.tipsy-e .tipsy-arrow {
	border-bottom-color: transparent;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	margin-top: -5px;
	right: 0;
	top: 50%;
}

.tipsy-w .tipsy-arrow {
	border-bottom-color: transparent;
	border-left: none;
	border-right-style: solid;
	border-top-color: transparent;
	left: 0;
	margin-top: -5px;
	top: 50%;
}
