.layout-center {
	margin-left: $width_west;
	position: relative;
	width: $width_center;
}

#content {
	color: $color_foreground;
	padding: 10px 20px 10px;
	text-align: left;

	blockquote, h1, h2, h3, h4, h5, h6, p, pre, ol, ul {
		margin: {
			bottom: $content_block_margin;
			top: $content_block_margin;
		};
	}

	blockquote {
		color: #444;
		font-style: italic;
		margin: {
			left: 30px;
			right: 0;
		};
	}

	abbr {
		border-bottom: 1px dotted #bbb;
	}

	dl, dt, dd {
		margin: {
			left: 0;
			right: 0;
		};
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-left: 30px;
	}

	code, pre {
		@include border-radius(3px);
		background: $code_background;
		border: 1px solid transparentize(darken($code_background, 20%), .8);
	}
	
	blockquote, a {
		code, pre {
			color: $color_foreground;
			font-style: normal;
			font-style: initial;
		}
	}

	code {
		display: inline-block;
		padding: 1px 4px;
	}

	pre {
		@include box-sizing(border-box);
		overflow: auto;
		padding: .5em .7em;
		position: relative;
		white-space: pre;
		word-wrap: normal;

		code {
			background: transparent;
			border: 0;
			white-space: pre;
		}
	}

	ul, ol {
		list-style-type: disc;
		padding-left: 30px;
	}

	ol {
		list-style-type: decimal;
	}

	table {
		border-bottom: 2px solid #eaeaea;
		border-collapse: inherit;
		border-spacing: 0;
		font-size: inherit;
		margin: 0;
		padding: 0;

		th, td {
			margin: 0;
			padding: 4px 8px;
			text-align: left;
		}

		th {
			font-weight: 700;
		}

		td {
			vertical-align: top;
		}

		thead th {
			@include box-shadow(0 -3px 4px -3px rgba(0,0,0,.2) inset, 0 -35px 35px -35px rgba(50,50,50,.1) inset);
			border-bottom: 1px solid #bbb;
		}

		& > tbody > tr:nth-child(even) > td {
			background-color: #f3f6fa;
			background-color: rgba(206,219,234,.25);
		}
	}

	header {
		border-bottom: 3px solid #f5f5f5;
		margin: 0 0 $content_block_margin;
		padding: 0 0 6px;
		
		&, .page-title {
			@include text-shadow(0 1px 1px rgba(0,0,0,.2));
		}

		h1.page-title,
		.page-subtitle {
			margin: 0;
		}
		
		h1.page-title {
			font-weight: 300;
			line-height: $site-title_font-size;
			margin: 0 0 6px;
		}
		
		.page-subtitle {
			color: lighten($color_foreground, 35%);
			font-weight: 400;
			margin: 6px 0 0;
			padding: 0 1px;
		}
	}

	.page-body {
		// @include text-size-adjust(110%);
		clear: both;
		& > :first-child {
			margin-top: 0;
		}
	}

	.disclaimer {
		color: lighten($color_foreground, 20%);
		font-size: $font-size - 1;
		margin-top: $content_block_margin * 2;
	}

	/** Image galleries */

	.gallery {
		text-align: center;
	}

	.gallery a {
		@include border-radius(3px);
		background-color: $link_gallery_background;
		margin: 2px;
		padding: 0;

		img {
			margin: 4px;
		}

		&:hover {
			background-color: $link_hover_background;
		}
	}

	/** Error page */

	.page-error {
		text-align: center;

		.page-title {
			color: #555;
			font-size: 72px;
			font-weight: 700;
			line-height: 72px;
			margin: 0;
			padding: 30px 0;

			html.textshadow & {
				@include text-shadow(0 3px 15px rgba(255,255,255,.3), 0 0 0 #555, 1px 1px 0 rgba(255,255,255,.5));
				color: transparent;
			}
		}
	}

	/** Content Loading */

	&.loading {
		* {
			color: $content_loading_foreground;
		}

		pre {
			overflow: hidden;
		}

		a, a:hover, a:visited {
			@include box-shadow(none);
			@include transition(none);
			background-color: transparent;
			color: inherit;
			cursor: default;
			text-decoration: none;
		}

		.gallery a {
			background-color: $link_gallery_background;
			margin: 2px;
			max-width: 45%;
		}

		img {
			-webkit-filter: #{'saturate(0%)'};
			opacity: .7;
		}
	}
}