
#content {
	pre {
		@include border-radius(0);
		@include box-sizing(border-box);
		background-color: transparent;
		overflow: auto;
		padding: 0;
		position: relative;
		white-space: pre;
		word-wrap: normal;
	}

	pre:after, pre:before {
		background: none;
		bottom: 0;
		content: "";
		position: absolute;
		top: 0;
		width: 12px;
		z-index: 10;
	}
	pre:after {
		@include border-radius(0 3px 3px 0);
		@include box-shadow(
			-12px 0 8px -8px #eee inset,
			-12px 0 12px -12px #eee inset,
			-12px 0 12px -12px #eee inset
		);
		right: 0;
	}
	pre:before {
		@include border-radius(3px 0 0 3px);
		@include box-shadow(
			12px 0 8px -8px #eee inset,
			12px 0 12px -12px #eee inset,
			12px 0 12px -12px #eee inset
		);
		left: 0;
	}

	code {
		display: inline-block;
		white-space: nowrap;
	}

	pre code {
		@include border-radius(3px);
		@include box-sizing(border-box);
		background-color: #eee;
		display: block;
		overflow: auto;
		padding: 8px 12px;
		position: relative;
		white-space: pre;
		word-wrap: normal;
	}
}

#content {
	.page-body {
		padding-top: 30px;
	}

	.page-title {
		@include background-image(linear-gradient(top, rgba(82,82,82,.9), rgba(119,119,119,.9)), image-url("noise_100.png"));
		@include border-radius(0);
		background-color: #6a6a6a;
		background-position: 0 0;
		background-size: auto;
		box-shadow: rgba(0,0,0,.5) 0px -4px 6px -4px inset;
		color: #eee;
		left: 0px;
		margin: 0px;
		padding: 0.3em 20px;
		position: absolute;
		right: 0px;
		text-shadow: rgba(0,0,0,.5) 0px 1px 1px;
		top: 0px;
	}

	a.page-title {
		@include background-image(linear-gradient(top, rgba(69,41,82,.9), rgba(100,59,117,.9)), image-url("noise_100.png"));
		color: #fff;
	}
}


body {
	html.cssgradients.multiplebgs & {
		@include background-image(
			linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30px, rgba(0,0,0,.15) 30px, rgba(0,0,0,.05) 32px, rgba(0,0,0,.05) 58px, rgba(0,0,0,.15) 100%),
			linear-gradient(top, transparentize(#5a5a5a, .1), transparentize(#5a5a5a, .1)),
			image-url("noise_100.png")
		);
	}
}
