$font_body: "Open Sans", "Arial", "Helvetica", sans-serif;
// $font_code: "Andale Mono", "Monaco", "Courier New", monospace;
$font_code: "Menlo", "Consolas", "DejaVu Sans Mono", "Courier", monospace;
$font_heading: $font_body;

$font_size: 13px;
$font_size_code: $font_size;

$default: #2a2a2a;
$default_loading: #999;
$default__bg: #fff;

$body__bg: #81e381;
$navigation__bg: #e5e5e5;

$link: #680094;
$link_hover: #fff;
$link_hover__bg: $link;
$link_gallery__bg: #e6e6e6;

$heading: $default; // #2b661d

$width_west: 330px;
$width_west_narrow: $width_west - 30;
$width_center: 570px;

$my-links_height: 24px;
$my-links_width: $my-links_height;

@mixin text-size-adjust($percentage: 100%) {
	-moz-text-size-adjust: $percentage;
	-ms-text-size-adjust: $percentage;
	-webkit-text-size-adjust: $percentage;
}