/** Sprites */

$spr-layout: smart;
$spr-sprite-dimensions: true;
$spr-spacing: 6px;
@import "spr/*.png";
@include all-spr-sprites;

// $sprites: sprite-map("spr/*.png");

$sprites_x2: sprite-map("x2/spr/*.png");

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.spr-github, .spr-lastfm, .spr-twitter, .spr-site-icon {
		background: $sprites_x2;
	}
}