@import "compass/css3";

@import "_global";

$color_foreground: #000;
$color_background: #fff;

* {
	font-size: 100%;
}

html, body {
	background: $color_background;
}

body {
	background: $color_background;
	color: $color_foreground;
	font: {
		family: $font-family;
		size: $font-size;
	};
	line-height: 1.4em;
}

a {
	color: $link_foreground;
	font-weight: 600;
	text-decoration: underline;

	img {
		border: 0;
		vertical-align: text-bottom;
	}

}

hr {
	background: #999;
	border: 1px solid #999;
	height: auto;
	padding: 0;
}

pre, code, kbd, samp {
	font-family: $font-family_code;
	font-size: $font-size_code;
}

pre {
	@include border-radius(3px);
	background: none;
	border: 2px solid #999;
	color: $color_foreground;
	padding: .6em .8em;
	position: static;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote {
	color: #444;
	font-style: italic;
	margin: {
		left: 30px;
		right: 0;
	};
}

q {
	quotes: none
}

q:before, q:after {
	content: ""
}

q:after {
	content: " (" attr(cite) ")"
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family: inherit;
		style: normal;
	};
	page-break-after: avoid;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol {
	margin: {
		bottom: $content_block_margin;
		top: $content_block_margin;
	};
}

h1, h2, h3, h4, h5, h6, b, strong {
	&, & a {
		font-weight: 700;
	}
}

h1 { font-size: $font-size * 2; }
h2 { font-size: $font-size * 1.5; }
h3 { font-size: $font-size * 1.17; }
h4 { font-size: $font-size * 1; }
h5 { font-size: $font-size * 0.83; }
h6 { font-size: $font-size * 0.67; }

i, em {
	font-style: italic;
}

#layout {
	width: auto !important;
}

#navigation {
	* {
		display: none;
	}

	.header {
		display: block;
		float: right;
		margin: 0;
		text-align: right;
	}

	.site-title {
		&, & * {
			display: inline;
		}
		color: $color_foreground;
		font-size: 18px;
		font-style: italic;
		line-height: 20px;
		margin: 0;
		padding: 0;
	}

	.site-icon {
		display: block;
		font-size: 12px;
		line-height: 12px;
		margin: 0px 0 0;
		padding: 0;
		text-decoration: none;

		span {
			display: inline;
		}
	}
}

#content {
	font-size: $font-size;

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

/*
	p, pre, blockquote, ul, ol {
		orphans: 3;
		widows: 3;
	}
	
	ul, ol {
		page-break-before: avoid;
		page-break-inside: avoid;
	}
*/

	a:after {
		color: $color_foreground + #555;
		content: " (" attr(href) ") ";
		font-size: $font-size - 2;
		font-weight: normal;
		text-decoration: none;
		word-wrap: break-word;
	}

	a[href^="/"]:after {
		content: " http://buchanansc.com" attr(href);
	}

	a[href^="mailto:"],
	a[href^="javascript:"] {
		display: none;
	}
	
	.page-title,
	.page-subtitle {
		margin: 0;
		padding: 0;
		text-decoration: none;
	}

	h1.page-title {
		border-bottom: 1px solid #666;
		min-height: 38px;
	}

	.page-subtitle {
		font-size: $font-size + 1;
		font-weight: 600;
		padding: 4px;
	}
}

.screen-only, .hidden {
	display: none;
}

.tipsy {
	display: none !important;
}

@import "_syntax";
@import "_pages";
