@import "compass/css3";

@import "_global";

$site-title: $default;
$default: #000;
$default__bg: #fff;

html, body {
	background: $default__bg;
}

body {
	background: $default__bg;
	color: $default;
	font: {
		family: $font_body;
		size: $font_size;
	};
}

a {
	color: $link;
	font-weight: 600;
	text-decoration: underline;

	img {
		border: 0;
		vertical-align: text-bottom;
	}

}

hr {
	background: #999;
	border: 1px solid #999;
	height: auto;
	padding: 0;
}

pre, code, kbd, samp {
	font-family: $font_code;
	font-size: $font_size_code;
}

pre {
	@include border-radius(3px);
	background: none;
	border: 2px solid #999;
	color: $default;
	padding: .6em .8em;
	position: static;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote {
	color: #444;
	font-style: italic;
	margin: {
		left: 30px;
		right: 0;
	};
}

q {
	quotes: none
}

q:before, q:after {
	content: ""
}

q:after {
	content: " (" attr(cite) ")"
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family: inherit;
		style: normal;
	};
	page-break-after: avoid;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol {
	margin: {
		bottom: 15px;
		top: 15px;
	};
}

h1, h2, h3, h4, h5, h6, b, strong {
	&, & a {
		font-weight: 700;
	}
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }

i, em {
	font-style: italic;
}

#navigation {
	* {
		display: none;
	}

	.header {
		display: block;
		float: right;
		margin: 0;
		text-align: right;
	}

	.site-title {
		color: $site-title;
		display: block;
		font-size: 1.4em;
		font-style: italic;
		line-height: 1.2em;
		margin: 0;
		padding: 0;
	}

	.site-icon {
		// clear: right;
		display: block;
		// float: right;
		font-size: 12px;
		line-height: 1.1em;
		margin: 0px 0 0;
		padding: 0;
		text-decoration: none;

		span {
			display: inline;
		}
	}
}

#content {
	a:after {
		color: $default + #555;
		content: " (" attr(href) ") ";
		font-size: $font_size - 2;
		font-weight: normal;
		text-decoration: none;
		word-wrap: break-word;
	}

	a[href^="/"]:after {
		content: " http://buchanansc.com" attr(href);
	}

	.page-title,
	.page-title-link,
 	& > :first-child,
 	& > article > :first-child {
		margin-top: 0;
		padding-top: 0;
	}

	.page-title,
	.page-title-link {
		border-bottom: 1px solid #333;
	}

	p, pre, blockquote, ul, ol {
		page-break-before: avoid;
		page-break-inside: avoid;
	}
}

.hidden {
	visibility: collapse;
}

.print {
	visibility: visible;
}

@import "_pages";
