@import "_global";
@import "compass/css3";

$color_foreground: #000;
$color_background: #fff;

* {
	font-size: 100%;
}

html, body {
	background: $color_background;
}

body {
	background: $color_background;
	color: $color_foreground;
}

a {
	font-weight: 500;
	text-decoration: underline;
}

hr {
	background: #999;
	border: 1px solid #999;
	height: auto;
	padding: 0;
}

pre {
	background: transparent;
	border-width: 2px;
	position: static;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before, q:after {
	content: "";
}

q:after {
	content: " (" attr(cite) ")";
}

h1, h2, h3, h4, h5, h6 {
	page-break-after: avoid;
}

#layout {
	width: auto !important;
}

#navigation {
	* {
		display: none;
	}

	.header {
		display: block;
		float: right;
		margin: 0;
		text-align: right;
	}

	.site-title {
		&, & * {
			display: inline;
		}
		color: $color_foreground;
		font-size: 18px;
		font-style: italic;
		line-height: 20px;
		margin: 0;
		padding: 0;
	}

	.site-icon {
		display: block;
		font-size: 12px;
		line-height: 12px;
		margin: 0px 0 0;
		padding: 0;
		text-decoration: none;

		span {
			display: inline;
		}
	}
}

#content {
	ul, ol {
		page-break-before: avoid;
		page-break-inside: avoid;
	}

	a:after {
		color: $color_foreground + #555;
		content: " (" attr(href) ") ";
		font-size: $font-size - 2;
		font-weight: normal;
		text-decoration: none;
		word-wrap: break-word;
	}

	a[href^="/"]:after {
		content: " http://buchanansc.com" attr(href);
	}

	a[href^="mailto:"],
	a[href^="javascript:"] {
		display: none;
	}
	
	.page-title,
	.page-description {
		margin: 0;
		padding: 0;
		text-decoration: none;
	}

	h1.page-title {
		border-bottom: 1px solid #666;
		min-height: 38px;
	}

	.page-description {
		font-size: $font-size + 1;
		font-weight: 500;
		padding: 4px;
	}
}

.screen-only, .hidden {
	display: none;
}

.tipsy {
	display: none !important;
}
