@import "_global";

@import "compass/reset";
@import "compass/css3";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: {
		color: $body__bg;
		image: image-url("background-body.png");
		position: left top;
		repeat: repeat;
		size: auto;
	};
	@include background-image(
		linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30px, rgba(0,0,0,.15) 30px, rgba(0,0,0,.05) 32px, rgba(0,0,0,.05) 58px, rgba(0,0,0,.15) 100%),
		linear-gradient(top, transparentize($body__bg, .1), transparentize($body__bg, .1)),
		image-url("noise_100.png")
	);
	/** Gray background */
	// @include background-image(
	// 	linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30px, rgba(0,0,0,.15) 30px, rgba(0,0,0,.05) 32px, rgba(0,0,0,.05) 58px, rgba(0,0,0,.15) 100%),
	// 	linear-gradient(top, transparentize(#5a5a5a, .1), transparentize(#5a5a5a, .1)),
	// 	image-url("noise_100.png")
	// );
	@include background-size(60px 100%, auto, auto);
	color: $default;
	font: {
		family: $font_body;
		size: $font_size;
	};
	line-height: normal;
}

a {
	// -webkit-tap-highlight-color: transparentize($link, .5);
	@include border-radius(3px);
	@include transition-duration(.1s);
	@include transition-property('background, color, border, box-shadow, text-shadow');
	color: $link;
	cursor: pointer;
	display: inline-block;
	margin: -2px -5px;
	padding: 2px 5px;
	position: relative;
	text-decoration: none;

	&:hover {
		@include box-shadow(0 1px 0 0 rgba(0,0,0,.2), 0 -30px 30px -30px rgba(0,0,0,.35) inset);
		background-color: $link_hover__bg;
		color: $link_hover;
		z-index: 2;
	}

	&:focus {
		outline: {
			color: $link;
			// style: solid;
		}
	}

	img {
		border: 0;
		vertical-align: bottom;
	}
}

b, strong {
	font-weight: 700;
}

i, em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: $heading;
	font: {
		family: $font_heading;
		style: normal;
		weight: 400;
	}
}

h3, h4, h5, h6 {
	font-weight: 600;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }

hr {
	@include box-shadow(0 -1px 0 rgba(0,0,0,.2));
	background-color: rgba(255,255,255,.5);
	border: 0;
	height: 1px;
	margin: 4px 0;
}

pre, code, kbd, samp {
	font-family: $font_code;
	font-size: $font_size_code;
}

abbr {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	cursor: help;
}

/** Layout */

#layout {
	background-color: $default__bg;
	clear: both;
	float: left;
	min-height: 100%;
	position: relative;

	&.collapsed {
		background-color: transparent;
		width: $width_west;
	}
}

/** Sprites */

$spr-spacing: 6px;
$spr-sprite-base-class: ".sprite";
@import "spr/*.png";
@include all-spr-sprites;

.site-icon, .site-icon:hover {
	@include box-shadow(none);
	@include spr-sprite("site-icon");
	@include transition(none);
	background-color: transparent;
	display: block;
	height: spr-sprite-height("site-icon");
	left: 11px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-indent: 1000px;
	top: 11px;
	white-space: nowrap;
	width: spr-sprite-width("site-icon");
	z-index: 10;
}

/** West */

.layout-west {
	float: left;
	overflow: visible;
	position: relative;
	width: $width_west;
	z-index: 10;
}

$navigation_box-shadow: -1px 0 0 rgba(255,255,255,.3) inset;

#navigation {
	@include box-sizing(border-box);
	@include text-shadow(0 1px 0 rgba(0,0,0,.2));
	background: {
		color: transparent;
		image: image-url("background-navigation.png");
		position: right 0;
		repeat: repeat-y;
		size: auto;
	};
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0 0 10px;
	position: fixed;
	text-align: right;
	top: 0;
	width: $width_west;

	html.cssgradients.multiplebgs.boxshadow & {
		@include box-shadow($navigation_box-shadow, -2px 0 3px 2px rgba(0,0,0,1));
		@include background-image(
			linear-gradient(top, rgba(0,0,0,.07) 0%, rgba(0,0,0,0) $width_west * 2, rgba(0,0,0,0) 100%),
			linear-gradient(left, transparentize(lighten($navigation__bg, 8%), .1), transparentize(darken($navigation__bg, 8%), .1)),
			image-url("noise_100.png")
		);
		@include background-size(auto);
		background-repeat: no-repeat, no-repeat, repeat;
	}

	html.cssgradients.multiplebgs.boxshadow .collapsed & {
		@include box-shadow($navigation_box-shadow, -2px 0 3px 2px rgba(0,0,0,.5));
	}

	.header {
		height: 70px;
		min-height: 70px;
		padding: 10px 20px;
	}

	.site-title {
		@include text-shadow(0 1px 0 rgba(255,255,255,.4));
		background: {
			image: image-url("site-title.png");
			position: right bottom;
			repeat: no-repeat;
		};
		color: $default;
		font: {
			size: 30px;
			style: italic;
			weight: 700;
		};
		height: 30px;
		line-height: 30px;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-indent: 1000px;

		// Font-face support
		html.fontface & {
			background: none;
			text-indent: 0;
		}
	}

	.my-links {
		float: right;
		padding: 2px 0 0;
		text-align: left;
		width: 222px;

		ul {
			white-space: nowrap;
		}

		li {
			float: left;
			margin: 0 2px;
		}

		a {
			@include border-radius(3px);
			color: $link;
			background-color: $default;
			color: $default__bg;
			display: block;
			float: left;
			height: $my-links_height;
			line-height: $my-links_height;
			margin: 0;
			padding: 0 6px;

			span {
				@include border-radius(3px);
				@include background-origin(content-box);
				background-repeat: no-repeat;
				display: block;
				height: $my-links_height;
				overflow: hidden;
				text-indent: 1000px;
				width: $my-links_width;
			}

			&:hover {
				background-color: $link_hover__bg;

				span {
					background-color: transparent;
				}
			}

			// &.github-link:hover { background-color: #777; }
			// &.lastfm-link:hover { background-color: #d51007; }
			// &.twitter-link:hover { background-color: #33ccff; }
		}
	}

	.my-links-left {
		float: left;
	}

	.my-links-right {
		float: right;

		a {
			padding: 0;
		}
	}

	.content-links {
		clear: both;
		padding: 50px 0 10px;
		text-align: right;

		a {
			@include border-radius(3px 0 0 3px);
			@include box-shadow(none);
			@include transition-duration(.1s);
			color: $default;
			display: block;
			font: {
				size: 1.3em;
				weight: 400;
			};
			line-height: 200%;
			margin: 0 2px 0 50px;
			overflow: hidden;
			padding: 0 20px;
			text-decoration: none;
			text-overflow: ellipsis;
			white-space: nowrap;

			html.cssgradients.multiplebgs.boxshadow & {
				margin-right: 0px;
				padding-right: 22px;
			}

			&:hover {
				background: $link_hover__bg;
				color: $link_hover;
			}
		}
	}
}

/** Center */

.layout-center {
	margin-left: $width_west;
	position: relative;
	width: $width_center;
}

#content {
	padding: 10px 20px 30px;
	text-align: left;

	blockquote, h1, h2, h3, h4, h5, h6, p, pre, ol, ul {
		margin: {
			bottom: 15px;
			top: 15px;
		};
	}

	blockquote {
		color: #444;
		font-style: italic;
		margin: {
			left: 30px;
			right: 0;
		};
	}

	dl, dt, dd {
		margin: {
			left: 0;
			right: 0;
		};
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-left: 30px;
	}

	pre {
		@include border-radius(3px);
		@include box-sizing(border-box);
		background-color: #eee;
		overflow: auto;
		padding: .6em .8em;
		position: relative;
		white-space: pre;
		word-wrap: normal;
	}

	code {
		display: inline-block;
		white-space: nowrap;
	}

	pre code {
		white-space: pre;
	}

	ul, ol {
		list-style-type: disc;
		padding-left: 30px;
	}

	ol {
		list-style-type: decimal;
	}

	table {
		border-bottom: 2px solid #eaeaea;
		border-collapse: inherit;
		border-spacing: 0;
		font-size: inherit;
		margin: 0;
		padding: 0;

		th, td {
			margin: 0;
			padding: 4px 8px;
			text-align: left;
		}

		th {
			font-weight: 700;
		}

		td {
			vertical-align: top;
		}

		thead th {
			@include box-shadow(0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset);
			border-bottom: 1px solid #bbb;
		}

		& > tbody > tr:nth-child(even) > td {
			background-color: #f2f5fa;
			background-color: rgba(200,220,250,.15);
		}
	}

	h1.page-title,
	& > :first-child,
	& > article > :first-child {
		margin-top: 0;
	}

	.page-body {
		// @include text-size-adjust(110%);
		clear: right;
	}

	/** File download info */
	p.file-download {
		padding: {
			left: 10px;
			right: 10px;
		};

		a {
			font-size: $font_size + 1;
		}
	}

	/** Image galleries */

	.gallery {
		text-align: center;
	}

	.gallery a {
		@include border-radius(3px);
		background-color: $link_gallery__bg;
		margin: 2px;
		padding: 0;

		img {
			margin: 4px;
		}

		&:hover {
			background-color: $link_hover__bg;
		}
	}

	/** Error page */
	.page-error {
		margin: 25px auto 0;
		max-width: 260px;
		padding: 20px;
		position: relative;
		text-align: center;

		.page-title {
			color: #888;
			font-size: 64px;
			font-weight: 800;
			line-height: 64px;
			margin: 0;
			padding: 30px 0;

			html.textshadow & {
				@include text-shadow(0 3px 15px rgba(255,255,255,.3), 0 0 0 #5c0000, 1px 1px 0 rgba(255,255,255,.5));
				color: transparent;
			}
		}
	}

	/** Content Loading */
	&.loading {
		&, * {
			color: $default_loading;
		}

		pre {
			overflow: hidden;
		}

		a, a:hover, a:visited {
			@include box-shadow(none);
			@include transition(none);
			background-color: transparent;
			color: inherit;
			cursor: default;
			// margin: 0;
			// padding: 0;
			text-decoration: none;
		}

		.gallery a {
			background-color: $link_gallery__bg;
			margin: 2px;
		}

		img {
			-webkit-filter: #{'saturate(0%)'};
			opacity: .7;
		}
	}
}

.print-only, .hidden {
	display: none;
}

@import "_layout-narrow";
@import "_lt-ie7";
@import "_pages";
// @import "_tipsy";

/** New page title */
// #content {
// 	.page-body {
// 		padding-top: 30px;
// 	}
// 	.page-title {
// 		@include background-image(linear-gradient(top, rgba(82,82,82,.9), rgba(119,119,119,.9)), image-url("noise_100.png"));
// 		@include border-radius(0);
// 		@include box-shadow(rgba(0,0,0,.5) 0px -4px 6px -4px inset);
// 		background: {
// 			color: #6a6a6a;
// 			position: 0 0;
// 			size: auto;
// 		}
// 		color: #eee;
// 		left: 0px;
// 		margin: 0px;
// 		padding: 0.3em 20px;
// 		position: absolute;
// 		right: 0px;
// 		text-shadow: rgba(0,0,0,.5) 0px 1px 1px;
// 		top: 0px;
// 	}
// 	a.page-title {
// 		@include background-image(linear-gradient(top, rgba(69,41,82,.9), rgba(100,59,117,.9)), image-url("noise_100.png"));
// 		color: #fff;
// 	}
// }
