@import "_global";

@import "compass/reset";
@import "compass/css3";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@include text-size-adjust(100%);
	background: {
		color: $body_background;
		image: image-url("background-body.png");
		position: left top;
		repeat: repeat;
		size: auto;
	};
	@include background-image(
		linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30px, rgba(0,0,0,.15) 30px, rgba(0,0,0,.05) 32px, rgba(0,0,0,.05) 58px, rgba(0,0,0,.15) 100%),
		linear-gradient(top, transparentize($body_background, .1), transparentize($body_background, .1)),
		image-url("noise_100.png")
	);
	/** Gray background */
	// @include background-image(linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30px, rgba(0,0,0,.15) 30px, rgba(0,0,0,.05) 32px, rgba(0,0,0,.05) 58px, rgba(0,0,0,.15) 100%), linear-gradient(top, transparentize(#646464, .1), transparentize(#646464, .1)), image-url("noise_100.png"));
	@include background-size(60px 100%, auto, auto);
	color: $color_foreground;
	font: {
		family: $font-family;
		size: $font-size;
	};
	line-height: normal;
}

a {
	// -webkit-tap-highlight-color: transparentize($link_foreground, .5);
	@include border-radius(3px);
	@include box-shadow(0 1px 0 0 rgba(0,0,0,0), 0 -40px 40px -40px rgba(0,0,0,0) inset);
	@include text-shadow(0 1px 1px rgba(0,0,0,0));
	@include transition-duration(.1s);
	@include transition-property('background-color, box-shadow, color, text-shadow');
	background-color: transparent;
	color: $link_foreground;
	cursor: pointer;
	display: inline-block;
	margin: -0.2em -0.4em;
	padding: 0.2em 0.4em;
	position: relative;
	text-decoration: none;

	&:hover {
		@include box-shadow(0 1px 0 0 rgba(0,0,0,.2), 0 -40px 40px -40px rgba(0,0,0,.35) inset);
		@include text-shadow(0 1px 1px rgba(0,0,0,.3));
		background-color: $link_hover_background;
		color: $link_hover_foreground;
		z-index: 2;
	}

	&:focus {
		outline: {
			color: $link_foreground;
			// style: solid;
		}
	}

	img {
		border: 0;
		vertical-align: bottom;
	}
}

b, strong {
	font-weight: 700;
}

i, em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: $heading_foreground;
	font: {
		family: $font-family_heading;
		style: normal;
		weight: 600;
	}
}

h3, h4, h5, h6 {
	font-weight: 600;
}

h1 { font-size: $font-size * 2; }
h2 { font-size: $font-size * 1.5; }
h3 { font-size: $font-size * 1.17; }
h4 { font-size: $font-size * 1; }
h5 { font-size: $font-size * 0.83; }
h6 { font-size: $font-size * 0.67; }

hr {
	@include box-shadow(0 -1px 0 rgba(0,0,0,.2));
	background-color: rgba(255,255,255,.5);
	border: 0;
	height: 1px;
	margin: 4px 0;
}

pre, code, kbd, samp {
	font-family: $font-family_code;
	font-size: $font-size_code;
}

/** Layout */

#layout {
	background-color: $color_background;
	clear: both;
	float: left;
	min-height: 100%;
	position: relative;

	&.collapsed {
		background-color: transparent;
		width: $width_west;
	}
}

/** West */

.layout-west {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	float: left;
	overflow: visible;
	position: relative;
	width: $width_west;
	z-index: 10;
}

$navigation_box-shadow: -1px 0 0 rgba(255,255,255,.3) inset;

#navigation {
	@include box-sizing(border-box);
	@include text-shadow(0 1px 0 rgba(0,0,0,.2));
	background: {
		color: transparent;
		image: image-url("background-navigation.png");
		position: right 0;
		repeat: repeat-y;
		size: auto;
	};
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0 0 10px;
	position: fixed;
	text-align: right;
	top: 0;
	width: $width_west;

	html.cssgradients.multiplebgs.boxshadow & {
		@include box-shadow($navigation_box-shadow, -2px 0 3px 2px rgba(0,0,0,1));
		@include background-image(
			linear-gradient(top, rgba(0,0,0,.07) 0%, rgba(0,0,0,0) $width_west * 2, rgba(0,0,0,0) 100%),
			linear-gradient(left, transparentize(lighten($navigation_background, 8%), .1), transparentize(darken($navigation_background, 8%), .1)),
			image-url("noise_100.png")
		);
		@include background-size(auto);
		background-repeat: no-repeat, no-repeat, repeat;
	}

	html.cssgradients.multiplebgs.boxshadow .collapsed & {
		@include box-shadow($navigation_box-shadow, -2px 0 3px 2px rgba(0,0,0,.5));
	}

	.header {
		height: 70px;
		min-height: 70px;
		padding: 10px 20px;
	}

	.site-title {
		@include text-shadow(0 1px 0 rgba(255,255,255,.4));
		background: {
			image: image-url("site-title.png");
			position: right bottom;
			repeat: no-repeat;
		};
		color: $color_foreground;
		font: {
			size: $site-title_font-size;
			style: italic;
			weight: 700;
		};
		height: 30px;
		line-height: 30px;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-indent: 1000px;

		/** font-face support */
		html.fontface & {
			background: none;
			text-indent: 0;
		}
	}

	.content-links {
		clear: both;
		padding: 50px 0 10px;
		text-align: right;

		a {
			@include border-radius(3px 0 0 3px);
			@include box-shadow(none);
			// @include transition-duration(.1s);
			color: $color_foreground;
			display: block;
			font: {
				size: 1.3em;
				weight: 400;
			};
			line-height: 200%;
			margin: 0 2px 0 50px;
			overflow: hidden;
			padding: 0 20px;
			text-decoration: none;
			text-overflow: ellipsis;
			white-space: nowrap;

			html.cssgradients.multiplebgs.boxshadow & {
				margin-right: 0px;
				padding-right: 22px;
			}

			&:hover {
				background: $link_hover_background;
				color: $link_hover_foreground;
			}
		}
	}
}

.my-links {
	float: right;
	padding: 2px 0 0;
	text-align: left;
	width: 220px;

	ul {
		white-space: nowrap;
	}

	li {
		float: left;
	}

	a {
		@include border-radius(3px);
		background-color: $color_foreground;
		color: $color_background;
		display: block;
		float: left;
		height: $my-links_height;
		line-height: $my-links_height;
		margin: 0;
		padding: 0 6px;

		span {
			@include border-radius(3px);
			@include background-origin(content-box);
			background-repeat: no-repeat;
			display: block;
			height: $my-links_height;
			overflow: hidden;
			text-indent: 1000px;
			width: $my-links_width;
		}

		&:hover {
			@include box-shadow(0 1px 0 0 rgba(0,0,0,.2), 0 -1px 3px -1px rgba(0,0,0,.25) inset, 0 -30px 30px -15px rgba(0,0,0,.3) inset);;
			background-color: $link_hover_background;

			span {
				background-color: transparent;
			}
		}
	}

	.my-links-left {
		float: left;
		li {
			margin-right: 4px;
		}
	}

	.my-links-right {
		float: right;

		li {
			margin-left: 4px;
		}

		a {
			padding: 0;
		}
	}
}

/** Center */

.layout-center {
	margin-left: $width_west;
	position: relative;
	width: $width_center;
}

#content {
	color: $color_foreground;
	padding: 10px 20px 30px;
	text-align: left;

	blockquote, h1, h2, h3, h4, h5, h6, p, pre, ol, ul {
		margin: {
			bottom: $content_block_margin;
			top: $content_block_margin;
		};
	}

	blockquote {
		color: #444;
		font-style: italic;
		margin: {
			left: 30px;
			right: 0;
		};
	}

	abbr {
		border-bottom: 1px dotted #bbb;
	}

	dl, dt, dd {
		margin: {
			left: 0;
			right: 0;
		};
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-left: 30px;
	}

	code, pre {
		@include border-radius(3px);
		background: $code_background;
		border: 1px solid transparentize(darken($code_background, 20%), .8);
	}
	
	blockquote, a {
		code, pre {
			color: $color_foreground;
			font-style: normal;
			font-style: initial;
		}
	}

	code {
		display: inline-block;
		padding: 1px 4px;
		white-space: nowrap;
	}

	pre {
		@include box-sizing(border-box);
		overflow: auto;
		padding: .5em .7em;
		position: relative;
		white-space: pre;
		word-wrap: normal;

		code {
			background: transparent;
			border: 0;
			white-space: pre;
		}
	}

	ul, ol {
		list-style-type: disc;
		padding-left: 30px;
	}

	ol {
		list-style-type: decimal;
	}

	table {
		border-bottom: 2px solid #eaeaea;
		border-collapse: inherit;
		border-spacing: 0;
		font-size: inherit;
		margin: 0;
		padding: 0;

		th, td {
			margin: 0;
			padding: 4px 8px;
			text-align: left;
		}

		th {
			font-weight: 700;
		}

		td {
			vertical-align: top;
		}

		thead th {
			@include box-shadow(0 -3px 4px -3px rgba(0,0,0,.2) inset, 0 -35px 35px -35px rgba(50,50,50,.1) inset);
			border-bottom: 1px solid #bbb;
		}

		& > tbody > tr:nth-child(even) > td {
			background-color: #f3f6fa;
			background-color: rgba(206,219,234,.25);
		}
	}

	header {
		border-bottom: 3px solid #f5f5f5;
		margin: 0 0 $content_block_margin;
		padding: 0 0 6px;
		
		&, .page-title {
			@include text-shadow(0 1px 1px rgba(0,0,0,.2));
		}

		h1.page-title,
		.page-subtitle {
			margin: 0;
		}
		
		h1.page-title {
			font-weight: 300;
			line-height: $site-title_font-size;
			margin: 0 0 6px;
		}
		
		.page-subtitle {
			color: lighten($color_foreground, 35%);
			font-weight: 400;
			margin: 6px 0 0;
			padding: 0 1px;
		}
	}

	.page-body {
		// @include text-size-adjust(110%);
		clear: both;
		& > :first-child {
			margin-top: 0;
		}
	}

	.disclaimer {
		color: lighten($color_foreground, 20%);
		font-size: $font-size - 1;
		margin-top: $content_block_margin * 2;
	}

	/** Image galleries */

	.gallery {
		text-align: center;
	}

	.gallery a {
		@include border-radius(3px);
		background-color: $link_gallery_background;
		margin: 2px;
		padding: 0;

		img {
			margin: 4px;
		}

		&:hover {
			background-color: $link_hover_background;
		}
	}

	/** Error page */

	.page-error {
		text-align: center;

		.page-title {
			color: #555;
			font-size: 72px;
			font-weight: 700;
			line-height: 72px;
			margin: 0;
			padding: 30px 0;

			html.textshadow & {
				@include text-shadow(0 3px 15px rgba(255,255,255,.3), 0 0 0 #555, 1px 1px 0 rgba(255,255,255,.5));
				color: transparent;
			}
		}
	}

	/** Content Loading */

	&.loading {
		&, * {
			color: $content_loading_foreground;
		}

		pre {
			overflow: hidden;
		}

		a, a:hover, a:visited {
			@include box-shadow(none);
			@include transition(none);
			background-color: transparent;
			color: inherit;
			cursor: default;
			text-decoration: none;
		}

		.gallery a {
			background-color: $link_gallery_background;
			margin: 2px;
			max-width: 45%;
		}

		img {
			-webkit-filter: #{'saturate(0%)'};
			opacity: .7;
		}
	}
}

.print-only, .hidden {
	display: none;
}

@import "_syntax";
@import "_sprites";
@import "_tipsy";
@import "_me";
@import "_mobile";
@import "_pages";

/** New page title */
// #content {
// 	.page-body {
// 		padding-top: 30px;
// 	}
// 	.page-title {
// 		@include background-image(linear-gradient(top, rgba(82,82,82,.9), rgba(119,119,119,.9)), image-url("noise_100.png"));
// 		@include border-radius(0);
// 		@include box-shadow(rgba(0,0,0,.5) 0px -4px 6px -4px inset);
// 		background: {
// 			color: #6a6a6a;
// 			position: 0 0;
// 			size: auto;
// 		}
// 		color: #eee;
// 		left: 0px;
// 		margin: 0px;
// 		padding: 0.3em 20px;
// 		position: absolute;
// 		right: 0px;
// 		text-shadow: rgba(0,0,0,.5) 0px 1px 1px;
// 		top: 0px;
// 	}
// 	a.page-title {
// 		@include background-image(linear-gradient(top, rgba(69,41,82,.9), rgba(100,59,117,.9)), image-url("noise_100.png"));
// 		color: #fff;
// 	}
// }
