@import "_global";

@import "compass/reset";
@import "compass/css3";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@include text-size-adjust(100%);
	background: {
		color: $body_background;
		image: image-url("background-body.png");
		position: left top;
		repeat: repeat;
		size: auto;
	};
	@include background-image(
		linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30px, rgba(0,0,0,.15) 30px, rgba(0,0,0,.05) 32px, rgba(0,0,0,.05) 58px, rgba(0,0,0,.15) 100%),
		linear-gradient(top, transparentize($body_background, .1), transparentize($body_background, .1)),
		image-url("noise_100.png")
	);
	/** Gray background */
	// @include background-image(linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30px, rgba(0,0,0,.15) 30px, rgba(0,0,0,.05) 32px, rgba(0,0,0,.05) 58px, rgba(0,0,0,.15) 100%), linear-gradient(top, transparentize(#646464, .1), transparentize(#646464, .1)), image-url("noise_100.png"));
	@include background-size(60px 100%, auto, auto);
	color: $color_foreground;
	font: {
		family: $font-family;
		size: $font-size;
	};
	line-height: normal;
}

a {
	// -webkit-tap-highlight-color: transparentize($link_foreground, .5);
	@include border-radius(3px);
	@include box-shadow(0 1px 0 0 rgba(0,0,0,0), 0 -40px 40px -40px rgba(0,0,0,0) inset);
	@include text-shadow(0 1px 1px rgba(0,0,0,0));
	@include transition-duration(.1s);
	@include transition-property('background-color, box-shadow, color, text-shadow');
	background-color: transparent;
	color: $link_foreground;
	cursor: pointer;
	display: inline-block;
	margin: -0.2em -0.4em;
	padding: 0.2em 0.4em;
	position: relative;
	text-decoration: none;

	&:hover {
		@include box-shadow(0 1px 0 0 rgba(0,0,0,.2), 0 -40px 40px -40px rgba(0,0,0,.35) inset);
		@include text-shadow(0 1px 1px rgba(0,0,0,.3));
		background-color: $link_hover_background;
		color: $link_hover_foreground;
		z-index: 2;
	}

	&:focus {
		outline: {
			color: $link_foreground;
			// style: solid;
		}
	}

	img {
		border: 0;
		vertical-align: bottom;
	}
}

b, strong {
	font-weight: 700;
}

i, em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: $heading_foreground;
	font: {
		family: $font-family_heading;
		style: normal;
		weight: 600;
	}
}

h3, h4, h5, h6 {
	font-weight: 600;
}

h1 { font-size: round($font-size * 2); }
h2 { font-size: round($font-size * 1.5); }
h3 { font-size: round($font-size * 1.17); }
h4 { font-size: round($font-size * 1); }
h5 { font-size: round($font-size * 0.83); }
h6 { font-size: round($font-size * 0.67); }

hr {
	@include box-shadow(0 -1px 0 rgba(0,0,0,.2));
	background-color: rgba(255,255,255,.5);
	border: 0;
	height: 1px;
	margin: 4px 0;
}

pre, code, kbd, samp {
	font-family: $font-family_code;
	font-size: $font-size_code;
}

/** Layout */

#layout {
	background-color: $color_background;
	clear: both;
	float: left;
	min-height: 100%;
	position: relative;

	&.collapsed {
		background-color: transparent;
		width: $width_west;
	}
}

@import "_navigation";
@import "_content";
@import "_syntax";
@import "_sprites";
@import "_tipsy";
@import "_me";
@import "_mobile";
@import "_pages";

.print-only, .hidden {
	display: none;
}


/** New page title */
// #content {
// 	.page-body {
// 		padding-top: 30px;
// 	}
// 	.page-title {
// 		@include background-image(linear-gradient(top, rgba(82,82,82,.9), rgba(119,119,119,.9)), image-url("noise_100.png"));
// 		@include border-radius(0);
// 		@include box-shadow(rgba(0,0,0,.5) 0px -4px 6px -4px inset);
// 		background: {
// 			color: #6a6a6a;
// 			position: 0 0;
// 			size: auto;
// 		}
// 		color: #eee;
// 		left: 0px;
// 		margin: 0px;
// 		padding: 0.3em 20px;
// 		position: absolute;
// 		right: 0px;
// 		text-shadow: rgba(0,0,0,.5) 0px 1px 1px;
// 		top: 0px;
// 	}
// 	a.page-title {
// 		@include background-image(linear-gradient(top, rgba(69,41,82,.9), rgba(100,59,117,.9)), image-url("noise_100.png"));
// 		color: #fff;
// 	}
// }
