
$font_body: "Open Sans", Arial, Helvetica, sans-serif;
$font_code: Menlo, Consolas, "Andale Mono", monospace;
$font_size: 13px;

$default: rgb(42,42,42);
$default_loading: #999;
$default__bg: #fff;

$body__bg: #81e381;
$navigation__bg: #e5e5e5;

$link: rgb(104,0,148);
$link_hover: #fff;
$link_hover__bg: $link;

$width_west: 330px;
$width_center: 570px;
