/** Sprites */

$sprites-spacing: 6px;
$sprites-sprite-base-class: ".sprite";
@import "sprites/*.png";

.sprite-github { @include sprites-sprite("github_white_24"); }
.sprite-lastfm { @include sprites-sprite("lastfm_white_24"); }

.site-icon, .site-icon:hover, .site-icon:focus {
	@include box-shadow(none);
	@include sprites-sprite("site-icon_64");
	@include transition(none);
	background-color: transparent;
	display: block;
	height: 64px;
	left: 11px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-indent: 1000px;
	top: 11px;
	white-space: nowrap;
	width: 64px;
	z-index: 10;
}
