/* line 6, ../_scss/print.scss */
body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
}

/* line 13, ../_scss/print.scss */
a, a:hover, a:visited {
  color: #1525ab;
  text-decoration: underline;
}

/* line 18, ../_scss/print.scss */
pre {
  background: none;
  border-radius: 0;
  border: none;
  color: black;
  padding: 0;
  position: static;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 29, ../_scss/print.scss */
hr {
  background: #999;
  border: 1px solid #999;
  height: auto;
  margin: auto;
  padding: 0;
}

/* line 37, ../_scss/print.scss */
#navigation {
  display: none;
}
