/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../scss/screen.scss */
html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 14, ../scss/screen.scss */
body {
  background-color: #81e381;
  background-image: url('../images/body-bg.png?1333181683');
  background-position: left top;
  background-repeat: repeat;
  background-size: auto;
  color: #2a2a2a;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: normal;
}

/* line 30, ../scss/screen.scss */
a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-property: background, box-shadow, color, margin, padding;
  -moz-transition-property: background, box-shadow, color, margin, padding;
  -ms-transition-property: background, box-shadow, color, margin, padding;
  -o-transition-property: background, box-shadow, color, margin, padding;
  transition-property: background, box-shadow, color, margin, padding;
  -webkit-transition-duration: 0.08s;
  -moz-transition-duration: 0.08s;
  -ms-transition-duration: 0.08s;
  -o-transition-duration: 0.08s;
  transition-duration: 0.08s;
  color: #680094;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
}
/* line 42, ../scss/screen.scss */
a img {
  border: 0;
  padding: 4px 0 3px;
  vertical-align: text-bottom;
}
/* line 48, ../scss/screen.scss */
a:hover, a:focus {
  -webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 -30px 30px -30px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 -30px 30px -30px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 -30px 30px -30px rgba(0, 0, 0, 0.35) inset;
  background-color: #680094;
  color: white;
  margin: -3px -6px -3px;
  padding: 3px 6px 3px;
  z-index: 2;
}
/* line 57, ../scss/screen.scss */
a.image-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #e6e6e6;
  margin: 0;
  padding: 4px;
}
/* line 63, ../scss/screen.scss */
a.image-link img {
  margin: 0;
  padding: 0;
}
/* line 68, ../scss/screen.scss */
a.image-link:hover, a.image-link:focus {
  background: #680094;
}

/* line 74, ../scss/screen.scss */
b, strong {
  font-weight: 600;
}

/* line 78, ../scss/screen.scss */
i, em {
  font-style: italic;
}

/* line 82, ../scss/screen.scss */
hr {
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  height: 1px;
  margin: 4px 0;
}

/* line 90, ../scss/screen.scss */
pre, code {
  font-family: Menlo, Consolas, "Andale Mono", monospace;
  font-size: inherit;
}

/* line 97, ../scss/screen.scss */
#layout {
  background-color: #e5e5e5;
  background-image: url('../images/layout-bg.png?1333181683');
  background-repeat: repeat;
  background-size: auto;
  clear: both;
  float: left;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 330px;
}
/* line 111, ../scss/screen.scss */
#layout .layout-inner {
  position: relative;
}
/* line 114, ../scss/screen.scss */
#layout .layout-inner .layout-west {
  float: left;
  width: 330px;
  position: relative;
}
/* line 120, ../scss/screen.scss */
#layout .layout-inner .layout-center {
  margin-left: 330px;
  position: relative;
  width: 570px;
  z-index: 10;
}
/* line 126, ../scss/screen.scss */
#layout .layout-inner .layout-center .layout-page {
  position: relative;
}
/* line 131, ../scss/screen.scss */
#layout .layout-inner .layout-south {
  clear: both;
}
/* line 136, ../scss/screen.scss */
#layout #content {
  display: none;
}
/* line 141, ../scss/screen.scss */
#layout.expanded, html.no-js #layout {
  width: 900px;
}
/* line 144, ../scss/screen.scss */
#layout.expanded #content, html.no-js #layout #content {
  display: block;
}

/* line 66, mylinks-24/*.png */
.mylinks-24-sprite, #navigation .mylinks .mylinks-icons .link-github span, #navigation .mylinks .mylinks-icons .link-github:hover span, #navigation .mylinks .mylinks-icons .link-github:focus span, #navigation .mylinks .mylinks-icons .link-lastfm span, #navigation .mylinks .mylinks-icons .link-lastfm:hover span, #navigation .mylinks .mylinks-icons .link-lastfm:focus span {
  background: url('../images/mylinks-24-s426393780e.png') no-repeat;
}

/* line 152, ../scss/screen.scss */
#navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0 0 10px;
  position: relative;
  text-align: right;
}
/* line 160, ../scss/screen.scss */
#navigation .page-icon {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: url('../images/page-icon.png?1332912973');
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 70px;
  left: 8px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: 1000px;
  top: 8px;
  white-space: nowrap;
  width: 70px;
  z-index: 10;
}
/* line 185, ../scss/screen.scss */
#navigation .header {
  height: 70px;
  min-height: 70px;
  padding: 10px 20px;
}
/* line 191, ../scss/screen.scss */
#navigation .header h1 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 205, ../scss/screen.scss */
#navigation .mylinks {
  float: right;
  font-size: 14px;
  padding-top: 2px;
  text-align: left;
  width: 210px;
}
/* line 212, ../scss/screen.scss */
#navigation .mylinks a {
  float: left;
}
/* line 216, ../scss/screen.scss */
#navigation .mylinks .mylinks-icons {
  float: right;
  margin-top: -2px;
  white-space: nowrap;
}
/* line 221, ../scss/screen.scss */
#navigation .mylinks .mylinks-icons li {
  display: inline;
}
/* line 225, ../scss/screen.scss */
#navigation .mylinks .mylinks-icons a {
  display: block;
  float: left;
}
/* line 229, ../scss/screen.scss */
#navigation .mylinks .mylinks-icons a span {
  display: block;
  height: 24px;
  margin: 2px;
  overflow: hidden;
  text-indent: 1000px;
  width: 24px;
}
/* line 240, ../scss/screen.scss */
#navigation .mylinks .mylinks-icons .link-github span {
  background-position: 0 0;
}
/* line 241, ../scss/screen.scss */
#navigation .mylinks .mylinks-icons .link-github:hover span, #navigation .mylinks .mylinks-icons .link-github:focus span {
  background-position: 0 -24px;
}
/* line 246, ../scss/screen.scss */
#navigation .mylinks .mylinks-icons .link-lastfm span {
  background-position: 0 -48px;
}
/* line 247, ../scss/screen.scss */
#navigation .mylinks .mylinks-icons .link-lastfm:hover span, #navigation .mylinks .mylinks-icons .link-lastfm:focus span {
  background-position: 0 -72px;
}
/* line 254, ../scss/screen.scss */
#navigation div.projects {
  clear: both;
  padding: 80px 0 10px;
  text-align: right;
}
/* line 259, ../scss/screen.scss */
#navigation div.projects a {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  color: #2a2a2a;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  margin: 0 0 0 50px;
  overflow: hidden;
  padding: 0 20px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 277, ../scss/screen.scss */
#navigation div.projects a:hover, #navigation div.projects a:focus {
  background: #680094;
  color: white;
}

/* line 285, ../scss/screen.scss */
#content {
  color: #2a2a2a;
  padding: 10px 20px 30px;
}
/* line 289, ../scss/screen.scss */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #2a2a2a;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
}
/* line 298, ../scss/screen.scss */
#content h1 {
  font-size: 2em;
}
/* line 299, ../scss/screen.scss */
#content h2 {
  font-size: 1.5em;
}
/* line 300, ../scss/screen.scss */
#content h3 {
  font-size: 1.17em;
}
/* line 301, ../scss/screen.scss */
#content h4 {
  font-size: 1em;
}
/* line 302, ../scss/screen.scss */
#content h5 {
  font-size: 0.83em;
}
/* line 303, ../scss/screen.scss */
#content h6 {
  font-size: 0.67em;
}
/* line 305, ../scss/screen.scss */
#content blockquote {
  color: #444;
  font-style: italic;
  margin-left: 40px;
  margin-right: 0;
}
/* line 314, ../scss/screen.scss */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content p, #content pre, #content blockquote {
  margin-bottom: .6em;
  margin-top: .6em;
}
/* line 321, ../scss/screen.scss */
#content dl, #content dt, #content dd {
  margin-left: 0;
  margin-right: 0;
}
/* line 328, ../scss/screen.scss */
#content pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
  overflow: auto;
  padding: .1em .2em;
  padding: .6em .8em;
  position: relative;
  white-space: pre;
  word-wrap: normal;
}
/* line 340, ../scss/screen.scss */
#content ul {
  list-style-type: disc;
  padding-left: 40px;
}
/* line 345, ../scss/screen.scss */
#content table {
  border-bottom: 2px solid #eaeaea;
  font-size: inherit;
}
/* line 349, ../scss/screen.scss */
#content table th, #content table td {
  padding: 4px 8px;
}
/* line 353, ../scss/screen.scss */
#content table thead th {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(150, 150, 150, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset;
  border-bottom: 1px solid #bbb;
  font-weight: 700;
  text-align: left;
}
/* line 362, ../scss/screen.scss */
#content table td {
  vertical-align: top;
}
/* line 366, ../scss/screen.scss */
#content table > tbody > tr:nth-child(even) > td {
  background-color: #f3f6fa;
}
/* line 374, ../scss/screen.scss */
#content > h1, #content > :first-child, #content > :first-child > :first-child, #content > :first-child > :first-child > :first-child {
  margin-top: 0;
}
/* line 378, ../scss/screen.scss */
#content.loading, #content.loading * {
  color: #999999;
}
/* line 382, ../scss/screen.scss */
#content.loading img {
  opacity: .7;
}

/*
html.csstransitions {
	#layout {
		@include transition(all .3s);
	}
}
*/
/* line 399, ../scss/screen.scss */
html.cssgradients body {
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(30px, rgba(0, 0, 0, 0)), color-stop(30px, rgba(0, 0, 0, 0.15)), color-stop(32px, rgba(0, 0, 0, 0.05)), color-stop(58px, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.15))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(129, 227, 129, 0.9)), color-stop(100%, rgba(129, 227, 129, 0.9))), url('../images/noise.png?1332243540');
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), -webkit-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise.png?1332243540');
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), -moz-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise.png?1332243540');
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), -o-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise.png?1332243540');
  background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), -ms-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise.png?1332243540');
  background-image: linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise.png?1332243540');
  -webkit-background-size: 60px 100%, auto, auto;
  -moz-background-size: 60px 100%, auto, auto;
  -o-background-size: 60px 100%, auto, auto;
  background-size: 60px 100%, auto, auto;
  background-position: 0 0;
  background-repeat: repeat;
}
/* line 419, ../scss/screen.scss */
html.cssgradients #layout {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #fafafa)), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(660px, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(249, 249, 249, 0.9)), color-stop(100%, rgba(209, 209, 209, 0.9))), url('../images/noise.png?1332243540');
  background-image: -webkit-linear-gradient(left, #ffffff, #fafafa), -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), -webkit-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise.png?1332243540');
  background-image: -moz-linear-gradient(left, #ffffff, #fafafa), -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), -moz-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise.png?1332243540');
  background-image: -o-linear-gradient(left, #ffffff, #fafafa), -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), -o-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise.png?1332243540');
  background-image: -ms-linear-gradient(left, #ffffff, #fafafa), -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), -ms-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise.png?1332243540');
  background-image: linear-gradient(left, #ffffff, #fafafa), linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise.png?1332243540');
  -webkit-background-size: 570px 100%, 2px 100%, 330px 100%, 330px 100%, auto;
  -moz-background-size: 570px 100%, 2px 100%, 330px 100%, 330px 100%, auto;
  -o-background-size: 570px 100%, 2px 100%, 330px 100%, 330px 100%, auto;
  background-size: 570px 100%, 2px 100%, 330px 100%, 330px 100%, auto;
  background-position: 330px top, 328px 0, 0 0, 0 0, 0 0;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
}
/* line 442, ../scss/screen.scss */
html.cssgradients #content table thead th {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(150, 150, 150, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.15));
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset;
  border-bottom: 1px solid #bbb;
  font-weight: 700;
  text-align: left;
}

/* line 455, ../scss/screen.scss */
html.lt-ie7 #layout {
  height: 100%;
}
