/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../scss/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 21, ../scss/screen.scss */
body {
  background-color: #81e381;
  background-position: center, left top;
  background-repeat: no-repeat, repeat, repeat, repeat;
  background-image: -webkit-gradient(radial, center 20%, 0, center 20%, 100, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(2px, rgba(0, 0, 0, 0.05)), color-stop(28px, rgba(0, 0, 0, 0.05)), color-stop(30px, rgba(0, 0, 0, 0.15)), color-stop(30px, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(129, 227, 129, 0.9)), color-stop(100%, rgba(112, 208, 112, 0.9))), url('../images/noise.png?1329201022');
  background-image: -webkit-radial-gradient(center 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.15)), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 2px, rgba(0, 0, 0, 0.05) 28px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 100%), -webkit-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(112, 208, 112, 0.9)), url('../images/noise.png?1329201022');
  background-image: -moz-radial-gradient(center 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.15)), -moz-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 2px, rgba(0, 0, 0, 0.05) 28px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(112, 208, 112, 0.9)), url('../images/noise.png?1329201022');
  background-image: -o-radial-gradient(center 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.15)), -o-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 2px, rgba(0, 0, 0, 0.05) 28px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 100%), -o-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(112, 208, 112, 0.9)), url('../images/noise.png?1329201022');
  background-image: -ms-radial-gradient(center 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.15)), -ms-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 2px, rgba(0, 0, 0, 0.05) 28px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 100%), -ms-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(112, 208, 112, 0.9)), url('../images/noise.png?1329201022');
  background-image: radial-gradient(center 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.15)), linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 2px, rgba(0, 0, 0, 0.05) 28px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 100%), linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(112, 208, 112, 0.9)), url('../images/noise.png?1329201022');
  -moz-background-size: cover, 60px 100%, cover, auto auto;
  -webkit-background-size: cover, 60px 100%, cover, auto auto;
  -o-background-size: cover, 60px 100%, cover, auto auto;
  background-size: cover, 60px 100%, cover, auto auto;
  color: black;
  font-family: "Open Sans", "Lucida Sans", sans-serif;
  font-size: 13px;
}

/* line 47, ../scss/screen.scss */
a {
  color: #66ccff;
  text-decoration: none;
}
/* line 51, ../scss/screen.scss */
a:visited {
  color: #680094;
}
/* line 55, ../scss/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 60, ../scss/screen.scss */
.layout {
  height: 100%;
  margin: 0 auto;
  min-height: 300px;
  position: relative;
  text-align: left;
  width: 800px;
}
/* line 68, ../scss/screen.scss */
.layout #north {
  height: 40px;
}
/* line 72, ../scss/screen.scss */
.layout #west {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background-color: #969696;
  background-position: left top;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(245, 245, 245, 0.9)), color-stop(100%, rgba(225, 225, 225, 0.9))), url('../images/noise.png?1329201022');
  background-image: -webkit-linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise.png?1329201022');
  background-image: -moz-linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise.png?1329201022');
  background-image: -o-linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise.png?1329201022');
  background-image: -ms-linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise.png?1329201022');
  background-image: linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise.png?1329201022');
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 4px 0 rgba(0, 0, 0, 0.35) inset;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 4px 0 rgba(0, 0, 0, 0.35) inset;
  -o-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 4px 0 rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 4px 0 rgba(0, 0, 0, 0.35) inset;
}
/* line 92, ../scss/screen.scss */
.layout #center {
  margin-left: 280px;
}
/* line 96, ../scss/screen.scss */
.layout #south {
  clear: both;
}

/* line 102, ../scss/screen.scss */
.navigation {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 20px;
  padding: 0;
}
/* line 108, ../scss/screen.scss */
.navigation li a {
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.5px;
  padding: 0 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}

/* line 121, ../scss/screen.scss */
.content {
  background: #fff;
}
