/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/** Global */
/* line 27, ../scss/screen.scss */
html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 36, ../scss/screen.scss */
body {
  background-color: #81e381;
  background-image: url('../images/background/body.png?1333681869');
  background-position: left top;
  background-repeat: repeat;
  background-size: auto;
  color: #2a2a2a;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: normal;
}

/* line 56, ../scss/screen.scss */
a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-property: background, box-shadow, color, margin, padding;
  -moz-transition-property: background, box-shadow, color, margin, padding;
  -ms-transition-property: background, box-shadow, color, margin, padding;
  -o-transition-property: background, box-shadow, color, margin, padding;
  transition-property: background, box-shadow, color, margin, padding;
  -webkit-transition-duration: 0.08s;
  -moz-transition-duration: 0.08s;
  -ms-transition-duration: 0.08s;
  -o-transition-duration: 0.08s;
  transition-duration: 0.08s;
  color: #680094;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  text-decoration: none;
}
/* line 68, ../scss/screen.scss */
a img {
  border: 0;
  padding: 0;
  vertical-align: text-top;
}
/* line 74, ../scss/screen.scss */
a:hover, a:focus {
  -webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 -30px 30px -30px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 -30px 30px -30px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 -30px 30px -30px rgba(0, 0, 0, 0.35) inset;
  background-color: #680094;
  color: white;
  margin: -3px -6px -3px;
  padding: 3px 6px 3px;
  z-index: 2;
}

/* line 84, ../scss/screen.scss */
a.image-link, #content.loading a.image-link {
  background-color: #e6e6e6;
  margin: 2px;
  padding: 4px;
}
/* line 89, ../scss/screen.scss */
a.image-link:hover, #content.loading a.image-link:hover, a.image-link:focus, #content.loading a.image-link:focus {
  background-color: #680094;
}

/* line 94, ../scss/screen.scss */
b, strong {
  font-weight: 700;
}

/* line 98, ../scss/screen.scss */
i, em {
  font-style: italic;
}

/* line 102, ../scss/screen.scss */
hr {
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  height: 1px;
  margin: 4px 0;
}

/* line 110, ../scss/screen.scss */
pre, code, kbd, samp {
  font-family: Menlo, Consolas, "Andale Mono", monospace;
  font-size: inherit;
}

/** Layout */
/* line 118, ../scss/screen.scss */
#layout {
  background-color: #e5e5e5;
  background-image: url('../images/background/layout.png?1333681869');
  background-repeat: repeat;
  background-size: auto;
  clear: both;
  float: left;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 131, ../scss/screen.scss */
#layout.collapsed {
  width: 330px;
}
/* line 136, ../scss/screen.scss */
#layout.expanded, html.no-js #layout {
  width: 900px;
}

/* line 141, ../scss/screen.scss */
.layout-inner {
  position: relative;
}
/* line 144, ../scss/screen.scss */
.layout-inner .layout-west {
  float: left;
  width: 330px;
  position: relative;
}
/* line 150, ../scss/screen.scss */
.layout-inner .layout-center {
  margin-left: 330px;
  position: relative;
  width: 570px;
  z-index: 10;
}
/* line 156, ../scss/screen.scss */
.layout-inner .layout-center .layout-page {
  position: relative;
}
/* line 161, ../scss/screen.scss */
.layout-inner .layout-south {
  clear: both;
}

/** Sprites */
/* line 58, sprites/*.png */
.sprite, .sprite-github, .sprite-lastfm, .site-icon, .site-icon:hover, .site-icon:focus {
  background: url('../images/sprites-se99fdf83b9.png') no-repeat;
}

/* line 173, ../scss/screen.scss */
.sprite-github {
  background-position: 0 -70px;
}

/* line 174, ../scss/screen.scss */
.sprite-lastfm {
  background-position: 0 -100px;
}

/* line 176, ../scss/screen.scss */
.site-icon, .site-icon:hover, .site-icon:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  background-color: transparent;
  display: block;
  height: 64px;
  left: 11px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: 1000px;
  top: 11px;
  white-space: nowrap;
  width: 64px;
  z-index: 10;
}

/** West */
/* line 197, ../scss/screen.scss */
#navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0 0 10px;
  position: relative;
  text-align: right;
}
/* line 205, ../scss/screen.scss */
#navigation .header {
  height: 70px;
  min-height: 70px;
  padding: 10px 20px;
}
/* line 210, ../scss/screen.scss */
#navigation .header .site-title {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 225, ../scss/screen.scss */
html.no-fontface #navigation .header .site-title {
  background-image: url('../images/site-title.png?1333681869');
  background-position: right bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: 1000px;
}
/* line 237, ../scss/screen.scss */
#navigation .mylinks {
  float: right;
  font-size: 14px;
  text-align: left;
  width: 220px;
}
/* line 243, ../scss/screen.scss */
#navigation .mylinks a {
  float: left;
}
/* line 248, ../scss/screen.scss */
#navigation .mylinks-icons {
  float: right;
  white-space: nowrap;
}
/* line 252, ../scss/screen.scss */
#navigation .mylinks-icons li {
  float: left;
  margin: 0 2px;
}
/* line 257, ../scss/screen.scss */
#navigation .mylinks-icons a {
  background-color: #2a2a2a;
  display: block;
}
/* line 261, ../scss/screen.scss */
#navigation .mylinks-icons a span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  height: 24px;
  overflow: hidden;
  text-indent: 1000px;
  width: 24px;
}
/* line 270, ../scss/screen.scss */
#navigation .mylinks-icons a:hover, #navigation .mylinks-icons a:focus {
  background-color: #680094;
  margin: -3px;
  padding: 3px;
}
/* line 275, ../scss/screen.scss */
#navigation .mylinks-icons a:hover span, #navigation .mylinks-icons a:focus span {
  background-color: transparent;
}
/* line 282, ../scss/screen.scss */
#navigation .projects {
  clear: both;
  padding: 80px 0 10px;
  text-align: right;
}
/* line 287, ../scss/screen.scss */
#navigation .projects a {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  color: #2a2a2a;
  display: block;
  font-size: 17px;
  font-weight: 400;
  line-height: 200%;
  margin: 0 0 0 50px;
  overflow: hidden;
  padding: 0 20px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 305, ../scss/screen.scss */
#navigation .projects a:hover, #navigation .projects a:focus {
  background: #680094;
  color: white;
}

/** Center */
/* line 315, ../scss/screen.scss */
#content {
  color: #2a2a2a;
  padding: 10px 20px 30px;
  text-align: left;
}
/* line 320, ../scss/screen.scss */
#layout.collapsed #content {
  display: none;
}
/* line 325, ../scss/screen.scss */
#layout.expanded #content, html.no-js #content {
  display: block;
}
/* line 329, ../scss/screen.scss */
#content:empty {
  padding: 0;
}
/* line 333, ../scss/screen.scss */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content p, #content pre, #content blockquote {
  margin-bottom: .6em;
  margin-top: .6em;
}
/* line 338, ../scss/screen.scss */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #2a2a2a;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
}
/* line 347, ../scss/screen.scss */
#content h1 {
  font-size: 2em;
}
/* line 348, ../scss/screen.scss */
#content h2 {
  font-size: 1.5em;
}
/* line 349, ../scss/screen.scss */
#content h3 {
  font-size: 1.17em;
}
/* line 350, ../scss/screen.scss */
#content h4 {
  font-size: 1em;
}
/* line 351, ../scss/screen.scss */
#content h5 {
  font-size: 0.83em;
}
/* line 352, ../scss/screen.scss */
#content h6 {
  font-size: 0.67em;
}
/* line 354, ../scss/screen.scss */
#content blockquote {
  color: #444;
  font-style: italic;
  margin-left: 40px;
  margin-right: 0;
}
/* line 363, ../scss/screen.scss */
#content dl, #content dt, #content dd {
  margin-left: 0;
  margin-right: 0;
}
/* line 370, ../scss/screen.scss */
#content pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eee;
  overflow: auto;
  padding: .6em .8em;
  position: relative;
  white-space: pre;
  word-wrap: normal;
}
/* line 381, ../scss/screen.scss */
#content ul {
  list-style-type: disc;
  padding-left: 40px;
}
/* line 386, ../scss/screen.scss */
#content table {
  border-bottom: 2px solid #eaeaea;
  border-collapse: inherit;
  border-spacing: 0;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
/* line 394, ../scss/screen.scss */
#content table th, #content table td {
  margin: 0;
  padding: 4px 8px;
  text-align: left;
}
/* line 400, ../scss/screen.scss */
#content table th {
  font-weight: 700;
}
/* line 404, ../scss/screen.scss */
#content table td {
  vertical-align: top;
}
/* line 408, ../scss/screen.scss */
#content table thead th {
  -webkit-box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset;
  -moz-box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset;
  box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset;
  border-bottom: 1px solid #bbb;
}
/* line 413, ../scss/screen.scss */
#content table > tbody > tr:nth-child(even) > td {
  background-color: #f2f5fa;
  background-color: rgba(200, 220, 250, 0.15);
}
/* line 422, ../scss/screen.scss */
#content .page-title, #content > :first-child, #content > :first-child > :first-child, #content > :first-child > :first-child > :first-child {
  margin-top: 0;
}
/* line 431, ../scss/screen.scss */
#content.loading, #content.loading * {
  color: #999999;
}
/* line 435, ../scss/screen.scss */
#content.loading pre {
  overflow: hidden;
}
/* line 439, ../scss/screen.scss */
#content.loading a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  background-color: transparent;
  color: inherit;
  cursor: default;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 453, ../scss/screen.scss */
#content.loading a.image-link:hover, #content.loading a.image-link:hover, #content.loading a.image-link:focus, #content.loading a.image-link:focus {
  background-color: #e6e6e6;
}
/* line 458, ../scss/screen.scss */
#content.loading img {
  -webkit-filter: saturate(0%);
  opacity: .7;
}

/** Error Pages */
/* line 467, ../scss/screen.scss */
#layout-error {
  margin: 30px auto 0;
  max-width: 300px;
  padding: 20px;
  position: relative;
}
/* line 473, ../scss/screen.scss */
#layout-error .site-icon {
  top: -10px;
  left: auto;
  right: -7px;
}
/* line 479, ../scss/screen.scss */
#layout-error .layout-inner {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(245, 245, 245, 0.9)), color-stop(100%, rgba(225, 225, 225, 0.9))), url('../images/noise_100.png?1335672853');
  background-image: -webkit-linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: -moz-linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: -o-linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: -ms-linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: linear-gradient(top, rgba(245, 245, 245, 0.9), rgba(225, 225, 225, 0.9)), url('../images/noise_100.png?1335672853');
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.75) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.75) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.75) inset, 0 1px 4px 0 rgba(0, 0, 0, 0.35);
  background-color: #969696;
  background-position: left top;
  text-align: center;
  width: 100%;
}
/* line 496, ../scss/screen.scss */
#layout-error .layout-inner .page-title {
  text-shadow: 0 3px 20px rgba(178, 178, 178, 0.4), 0 0 0 #333333, 1px 1px 0 rgba(255, 255, 255, 0.2), -1px 1px 0 rgba(255, 255, 255, 0.2);
  color: #888;
  font-size: 72px;
  font-weight: 800;
  margin: 0;
  padding: 30px 0;
}
/* line 509, ../scss/screen.scss */
html.textshadow #layout-error .layout-inner .page-title {
  color: transparent;
}

/** CSS3 gradient support */
/* line 520, ../scss/screen.scss */
html.cssgradients.multiplebgs body {
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(30px, rgba(0, 0, 0, 0)), color-stop(30px, rgba(0, 0, 0, 0.15)), color-stop(32px, rgba(0, 0, 0, 0.05)), color-stop(58px, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.15))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(129, 227, 129, 0.9)), color-stop(100%, rgba(129, 227, 129, 0.9))), url('../images/noise_100.png?1335672853');
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), -webkit-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), -moz-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), -o-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), -ms-linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0.15) 30px, rgba(0, 0, 0, 0.05) 32px, rgba(0, 0, 0, 0.05) 58px, rgba(0, 0, 0, 0.15) 100%), linear-gradient(top, rgba(129, 227, 129, 0.9), rgba(129, 227, 129, 0.9)), url('../images/noise_100.png?1335672853');
  -webkit-background-size: 60px 100%, auto, auto;
  -moz-background-size: 60px 100%, auto, auto;
  -o-background-size: 60px 100%, auto, auto;
  background-size: 60px 100%, auto, auto;
  background-position: 0 0;
  background-repeat: repeat;
}
/* line 540, ../scss/screen.scss */
html.cssgradients.multiplebgs #layout {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #fafafa)), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(660px, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(249, 249, 249, 0.9)), color-stop(100%, rgba(209, 209, 209, 0.9))), url('../images/noise_100.png?1335672853');
  background-image: -webkit-linear-gradient(left, #ffffff, #fafafa), -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), -webkit-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: -moz-linear-gradient(left, #ffffff, #fafafa), -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), -moz-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: -o-linear-gradient(left, #ffffff, #fafafa), -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), -o-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: -ms-linear-gradient(left, #ffffff, #fafafa), -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), -ms-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
  background-image: linear-gradient(left, #ffffff, #fafafa), linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 660px, rgba(0, 0, 0, 0.1) 100%), linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
  -webkit-background-size: 570px 100%, 2px 100%, 330px 100%, 330px 100%, auto;
  -moz-background-size: 570px 100%, 2px 100%, 330px 100%, 330px 100%, auto;
  -o-background-size: 570px 100%, 2px 100%, 330px 100%, 330px 100%, auto;
  background-size: 570px 100%, 2px 100%, 330px 100%, 330px 100%, auto;
  background-position: 330px top, 328px 0, 0 0, 0 0, 0 0;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
}

/** Width smaller than 930px */
@media screen and (max-device-width: 930px) {
  /* line 559, ../scss/screen.scss */
  a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }

  /* line 569, ../scss/screen.scss */
  #layout,
  #layout.collapsed,
  #layout.expanded,
  #layout .layout-inner,
  #layout .layout-inner .layout-center,
  #layout .layout-inner .layout-center .layout-page,
  #layout .layout-inner .layout-west {
    background: transparent none;
    bottom: auto;
    float: none;
    left: auto;
    margin: 0;
    max-width: 100%;
    min-height: 0;
    overflow: visible;
    right: auto;
    top: auto;
    width: auto;
  }

  /* line 583, ../scss/screen.scss */
  #layout .layout-inner .layout-west {
    padding: 10px 10px 15px;
    overflow: visible;
  }

  /* line 588, ../scss/screen.scss */
  .site-icon {
    top: -10px;
    left: auto;
    right: -7px;
  }

  /* line 594, ../scss/screen.scss */
  #navigation {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 1px 0 rgba(255, 255, 255, 0.45);
    -moz-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 1px 0 rgba(255, 255, 255, 0.45);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 1px 0 rgba(255, 255, 255, 0.45);
    background-color: #e5e5e5;
    background-image: url('../images/background/navigation.png?1333681869');
    background-position: right top;
    background-repeat: repeat-y;
    background-size: auto;
    margin: 0 auto;
    max-width: 320px;
    padding: 0;
    text-align: left;
  }
  /* line 614, ../scss/screen.scss */
  #navigation .header .site-title {
    margin-bottom: 2px;
  }
  /* line 619, ../scss/screen.scss */
  #navigation .mylinks {
    float: left;
  }
  /* line 622, ../scss/screen.scss */
  #navigation .mylinks a {
    float: right;
  }
  /* line 626, ../scss/screen.scss */
  #navigation .mylinks .mylinks-icons {
    float: left;
  }
  /* line 631, ../scss/screen.scss */
  #navigation .projects {
    padding: 10px;
    text-align: left;
  }
  /* line 635, ../scss/screen.scss */
  #navigation .projects a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 3px 0;
    padding: 0 10px;
  }

  /* line 643, ../scss/screen.scss */
  #content {
    -webkit-box-shadow: 0 0px 4px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 4px -1px rgba(0, 0, 0, 0.3);
    background-color: white;
    background-image: url('../images/background/content.png?1333681869');
    background-position: right 0;
    background-repeat: repeat-y;
    background-size: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 659, ../scss/screen.scss */
  html.cssgradients.multiplebgs #layout {
    background: transparent none;
  }
  /* line 663, ../scss/screen.scss */
  html.cssgradients.multiplebgs #navigation {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(249, 249, 249, 0.9)), color-stop(100%, rgba(209, 209, 209, 0.9))), url('../images/noise_100.png?1335672853');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), -webkit-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), -moz-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), -o-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), -ms-linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), linear-gradient(left, rgba(249, 249, 249, 0.9), rgba(209, 209, 209, 0.9)), url('../images/noise_100.png?1335672853');
    -webkit-background-size: cover, cover, auto;
    -moz-background-size: cover, cover, auto;
    -o-background-size: cover, cover, auto;
    background-size: cover, cover, auto;
    background-position: 0 0, 0 0, 0 0;
    background-repeat: no-repeat, no-repeat, repeat;
  }
  /* line 676, ../scss/screen.scss */
  html.cssgradients.multiplebgs #content {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
    background-image: -webkit-linear-gradient(left, #ffffff, #fafafa);
    background-image: -moz-linear-gradient(left, #ffffff, #fafafa);
    background-image: -o-linear-gradient(left, #ffffff, #fafafa);
    background-image: -ms-linear-gradient(left, #ffffff, #fafafa);
    background-image: linear-gradient(left, #ffffff, #fafafa);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}
/** IE Settings */
/* line 690, ../scss/screen.scss */
html.lt-ie7 #layout {
  height: 100%;
}
