/** Width smaller than 930px */

a {
	@include transition(none);
}

#layout,
#layout.collapsed,
#layout.expanded,
#layout .layout-inner,
#layout .layout-inner .layout-center,
#layout .layout-inner .layout-center .layout-page,
#layout .layout-inner .layout-west {
	background: transparent none;
	bottom: auto;
	float: none;
	left: auto;
	margin: 0;
	max-width: 100%;
	min-height: 0;
	min-width: 0;
	overflow: visible;
	right: auto;
	top: auto;
	width: auto;
}

#layout .layout-inner .layout-west {
	padding: 10px 10px 15px;
	overflow: visible;
}

.site-icon {
	left: auto;
	right: -7px;
	top: -10px;
}

#navigation {
	@include border-radius(5px);
	@include box-shadow(
		0 -1px 0 0 rgba(0,0,0,.1) inset,
		0 1px 2px 0 rgba(0,0,0,.5) inset,
		0 1px 1px 0 rgba(255,255,255,.45)
	);
	background: {
		color: $navigation__bg;
		image: image-url("background/navigation.png");
		position: right top;
		repeat: repeat-y;
		size: auto;
	}
	margin: 0 auto;
	max-width: $width_west;
	padding: 0;
	text-align: left;

	.mylinks {
		float: left;

		a {
			float: right;
		}

		.mylinks-icons {
			float: left;
		}
	}

	.projects {
		padding: 10px;
		text-align: left;

		a {
			@include border-radius(3px);
			margin: 3px 0;
			padding: 0 10px;
		}
	}
}

#content {
	@include box-shadow(0 0px 4px -1px rgba(0,0,0,.3));
	background: {
		color: $default__bg;
		image: image-url("background/content.png");
		position: right 0;
		repeat: repeat-y;
		size: auto;
	}
	padding: {
		left: 15px;
		right: 15px;
	}
}

html.cssgradients.multiplebgs {
	#layout {
		background: transparent none;
	}

	#navigation {
		@include background-image(
			linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.1)),
			linear-gradient(left, transparentize(lighten($navigation__bg, 8%), .1), transparentize(darken($navigation__bg, 8%), .1)),
			image-url("noise_100.png")
		);
		@include background-size(cover, cover, auto);
		background: {
			position: 0 0, 0 0, 0 0;
			repeat: no-repeat, no-repeat, repeat;
		}
	}

	#content {
		// @include background-image(linear-gradient(left, $default__bg, darken($default__bg, 2%)));
		@include background-size(cover);
		background: {
			position: 0 0;
			repeat: no-repeat;
		}
	}
}
