/**
* Error Pages
*/

#layout-error {
	margin: 25px auto 0;
	max-width: 260px;
	padding: 20px;
	position: relative;
	text-align: center;

	.site-icon {
		left: auto;
		right: -7px;
		top: -10px;
	}

	.layout-inner {
		@include background-image(
			linear-gradient(top, rgba(245,245,245,.9), rgba(225,225,225,.9)),
			image-url("noise_100.png")
		);
		@include border-radius(8px);
		@include box-shadow(
			0 1px 0px 0 rgba(255,255,255,.75) inset,
			0 1px 4px 0 rgba(0, 0, 0, 0.35)
		);
		background: {
			color: #969696;
			position: left top;
			repeat: repeat;
		}
		width: 100%;
	}

	.page-title {
		@include text-shadow(
			0 3px 15px rgba(255,255,255,.3),
			0 0 0 #5c0000,
			1px 1px 0 rgba(255,255,255,.5)
		);
		color: #888;
		font-size: 64px;
		line-height: 64px;
		font-weight: 800;
		margin: 0;
		padding: 30px 0;

		html.textshadow & {
			color: transparent;
		}
	}
}
