@import "compass/css3";

$font_body: "Open Sans", "Arial", "Helvetica", sans-serif;
$font_code: "Menlo", "Consolas", "Andale Mono", monospace;
$font_size: 13px;

$default: #000;
$default__bg: #fff;

$link: #680094;

html, body {
	background: $default__bg;
}

body {
	background: $default__bg;
	color: $default;
	font: {
		family: $font_body;
		size: $font_size;
	};
}

a {
	color: $link;
	font-weight: 600;
	text-decoration: underline;
}

a:after {
	color: $default + #555;
	content: " " attr(href);
	font-size: small;
	font-weight: normal;
	text-decoration: none;
	word-wrap: break-word;
}

a[href^="/"]:after {
	content: " http://buchanansc.com" attr(href);
}

#{headings()}, b, strong {
	&, & a {
		font-weight: 700;
	}
}

i, em {
	font-style: italic;
}

hr {
	background: #999;
	border: 1px solid #999;
	height: auto;
	padding: 0;
}

pre, code, kbd, samp {
	font-family: $font_code;
	font-size: inherit;
}

pre {
	@include border-radius(3px);
	background: none;
	border: 2px solid #ccc;
	color: $default;
	padding: .6em .8em;	
	position: static;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none
}

q:before, q:after {
	content: ""
}

q:after {
	content: " (" attr(cite) ")"
}

#{headings()}, p, pre, blockquote, ul, ol {
	margin: {
		bottom: 15px;
		top: 15px;
	};
}

#{headings()} {
	font: {
		family: inherit;
		style: normal;
	};
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }

.page-title,
.page-icon,
#content > :first-child,
#content > article > :first-child {
	margin-top: 0;
}

.layout-west {
	display: none;
}
