@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

$font_body: "Open Sans", "Arial", "Helvetica", sans-serif;
$font_code: "Menlo", "Consolas", "Andale Mono", monospace;
$font_size: 13px;

$default: #2a2a2a;
$default_loading: #999;
$default__bg: #fff;

$body__bg: #81e381;
$navigation__bg: #e5e5e5;

$link: #680094;
$link_hover: #fff;
$link_hover__bg: $link;
$link_gallery__bg: #e6e6e6;

$heading: $default; // #2b661d

$width_west: 330px;
$width_center: 570px;

$height_my-links-icons: 24px;
$width_my-links-icons: $height_my-links-icons;

/** Global */

html, body {
	margin: 0;
	height: 100%;
	padding: 0;
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: {
		color: $body__bg;
		image: image-url("background/body.png");
		position: left top;
		repeat: repeat;
		size: auto;
	};
	color: $default;
	font: {
		family: $font_body;
		size: $font_size;
	};
	line-height: normal;
}

a {
	// -webkit-tap-highlight-color: transparentize($link, .5);
	@include border-radius(3px);
	@include transition-property('background, box-shadow, color, margin, padding');
	@include transition-duration(.08s);
	color: $link;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	outline: none;
	padding: 0;
	position: relative;
	text-decoration: none;

	& img {
		border: 0;
		vertical-align: text-bottom;
	}

	&:hover, &:focus {
		@include box-shadow(0 1px 0 0 rgba(0,0,0,.2), 0 -30px 30px -30px rgba(0,0,0,.35) inset);
		background-color: $link_hover__bg;
		color: $link_hover;
		margin: -3px -6px;
		padding: 3px 6px;
		z-index: 2;
	}
}

b, strong {
	font-weight: 700;
}

i, em {
	font-style: italic;
}

hr {
	@include box-shadow(0 -1px 0 rgba(0,0,0,.2));
	background-color: rgba(255,255,255,.5);
	border: 0;
	height: 1px;
	margin: 4px 0;
}

pre, code, kbd, samp {
	font-family: $font_code;
	font-size: inherit;
}

/** Layout */

#layout {
	background: {
		color: $navigation__bg;
		image: image-url("background/layout.png");
		repeat: repeat;
		size: auto;
	};
	clear: both;
	float: left;
	min-height: 100%;
	overflow: hidden;
	position: relative;

	&.collapsed {
		width: $width_west;
	}

	&.expanded,
	html.no-js & {
		width: $width_west + $width_center;
	}
}

.layout-inner {
	position: relative;

	.layout-west {
		float: left;
		width: $width_west;
		position: relative;
	}

	.layout-center {
		margin-left: $width_west;
		position: relative;
		width: $width_center;
		z-index: 10;

		.layout-page {
			position: relative;
		}
	}

	.layout-south {
		clear: both;
	}
}

/** Sprites */

$spr-spacing: 6px;
$spr-sprite-base-class: ".sprite";
@import "spr/*.png";
@include all-spr-sprites;

.site-icon, .site-icon:hover, .site-icon:focus {
	@include box-shadow(none);
	@include spr-sprite("site-icon");
	@include transition(none);
	background-color: transparent;
	bottom: auto;
	display: block;
	height: spr-sprite-height("site-icon");
	left: 11px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: auto;
	text-indent: 1000px;
	top: 11px;
	white-space: nowrap;
	width: spr-sprite-width("site-icon");
	z-index: 10;
}


/** West */

#navigation {
	@include box-sizing(border-box);
	@include text-shadow(0 1px 0 rgba(0,0,0,.2));
	margin: 0;
	padding: 0 0 10px;
	position: relative;
	text-align: right;

	.header {
		height: 70px;
		min-height: 70px;
		padding: 10px 20px;

		.site-title {
			@include text-shadow(0 1px 0 rgba(255,255,255,.5));
			background: none;
			color: $default;
			font: {
				size: 30px;
				style: italic;
				weight: 700;
			};
			line-height: 30px;
			height: 30px;
			margin: 0;
			padding: 0;
			position: relative;

			
			// No font-face support
			html.no-fontface & {
				background: {
					image: image-url("site-title.png");
					position: right bottom;
					repeat: no-repeat;
				};
				overflow: hidden;
				text-indent: 1000px;
			}
		}
	}

	.my-links {
		float: right;
		font-size: 1.1em;
		padding: 4px 0 0;
		text-align: left;
		width: 220px;

		a {
			float: left;
		}
	}

	.my-links-icons {
		float: right;
		margin-top: -2px;
		white-space: nowrap;

		li {
			float: left;
			margin: 0 2px;
		}

		a {
			background-color: $default;
			display: block;

			span {
				@include border-radius(3px);
				@include background-origin(content-box);
				background-repeat: no-repeat;
				display: block;
				height: $height_my-links-icons;
				overflow: hidden;
				text-indent: 1000px;
				width: $width_my-links-icons;
			}

			&:hover, &:focus {
				background-color: $link_hover__bg;
				margin: -3px;
				padding: 3px;

				span {
					background-color: transparent;
				}
			}
		}
	}

	.projects {
		clear: both;
		padding: 80px 0 10px;
		text-align: right;

		a {
			@include border-radius(3px 0 0 3px);
			@include box-shadow(none);
			@include transition-duration(.1s);
			color: $default;
			display: block;
			font: {
				size: 1.3em;
				weight: 400;
			};
			line-height: 200%;
			margin: 0 0 0 50px;
			overflow: hidden;
			padding: 0 20px;
			text-decoration: none;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover, &:focus {
				background: $link_hover__bg;
				color: $link_hover;
			}
		}
	}
}

/** Center */

#content {
	color: $default;
	padding: 10px 20px 30px;
	text-align: left;

	#layout.collapsed & {
		display: none;
	}

	#layout.expanded &,
	html.no-js & {
		display: block;
	}

	&:empty {
		padding: 0;
	}

	#{headings()}, p, pre, blockquote {
		margin: {
			bottom: .6em;
			top: .6em;
		};
	}

	#{headings()} {
		color: $heading;
		font: {
			family: inherit;
			style: normal;
			weight: 400;
		};
	}

	h1 { font-size: 2em; }
	h2 { font-size: 1.5em; }
	h3 { font-size: 1.17em; }
	h4 { font-size: 1em; }
	h5 { font-size: 0.83em; }
	h6 { font-size: 0.67em; }

	blockquote {
		color: #444;
		font-style: italic;
		margin: {
			left: 40px;
			right: 0;
		};
	}

	dl, dt, dd {
		margin: {
			left: 0;
			right: 0;
		};
	}

	pre {
		@include border-radius(3px);
		@include box-sizing(border-box);
		background-color: #eee;
		overflow: auto;
		padding: .6em .8em;
		position: relative;
		white-space: pre;
		word-wrap: normal;
	}

	ul, ol {
		list-style-type: disc;
		padding-left: 40px;
	}

	ol {
		list-style-type: decimal;
	}

	table {
		border-bottom: 2px solid #eaeaea;
		border-collapse: inherit;
		border-spacing: 0;
		font-size: inherit;
		margin: 0;
		padding: 0;

		th, td {
			margin: 0;
			padding: 4px 8px;
			text-align: left;
		}

		th {
			font-weight: 700;
		}

		td {
			vertical-align: top;
		}

		thead th {
			@include box-shadow(0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset);
			border-bottom: 1px solid #bbb;
		}

		& > tbody > tr:nth-child(even) > td {
			background-color: #f2f5fa;
			background-color: rgba(200,220,250,.15);
		}
	}

	.page-title,
	.page-icon,
	& > :first-child,
	& > article > :first-child {
		margin-top: 0;
	}

	.page-icon {
		float: right;
	}

	.page-title {
		color: $default;
	}

	.page-body {
		clear: right;
	}

	/** Image galleries */
	.gallery {
		text-align: center;
	}

	.gallery a {
		background-color: $link_gallery__bg;
		margin: 2px;
		padding: 0; // 4px;

		img {
			margin: 4px;
		}
		
		&:hover, &:focus {
			background-color: $link_hover__bg;
		}
	}

	/** Content Loading */
	&.loading {
		&, * {
			color: $default_loading;
		}

		pre {
			overflow: hidden;
		}

		a, a:hover, a:visited {
			@include box-shadow(none);
			@include transition(none);
			background-color: transparent;
			color: inherit;
			cursor: default;
			margin: 0;
			padding: 0;
			text-decoration: none;
		}

		.gallery a {
			background-color: $link_gallery__bg;
			margin: 2px;
		}

		img {
			-webkit-filter: #{'saturate(0%)'};
			opacity: .7;
		}
	}
}


@import "_error";
@import "_cssgradients";
@import "_layout-930";

/** IE Settings */

html.lt-ie7 {
	#layout {
		height: 100%;
	}
}

