@import "_global";
@import "compass/css3";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@include text-size-adjust(100%);
	background: {
		color: $body_background;
		image: image-url("background-body.png");
		position: left top;
		repeat: repeat;
		size: auto;
	};

	html.cssgradients.multiplebgs {
		@include background-image(
			linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30px, rgba(0,0,0,.15) 30px, rgba(0,0,0,.05) 32px, rgba(0,0,0,.05) 58px, rgba(0,0,0,.15) 100%),
			linear-gradient(top, transparentize($body_background, .1), transparentize($body_background, .1)),
			image-url("noise_100.png")
		);
		// Gray background 
		// @include background-image(linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30px, rgba(0,0,0,.15) 30px, rgba(0,0,0,.05) 32px, rgba(0,0,0,.05) 58px, rgba(0,0,0,.15) 100%), linear-gradient(top, transparentize(#646464, .1), transparentize(#646464, .1)), image-url("noise_100.png"));
		@include background-size(60px 100%, auto, auto);
	}
}

a {
	cursor: pointer;
	text-decoration: none;
	
	&:hover {
		color: darken($link_foreground, 10%);
	}
	
	&:focus {
		outline: {
			color: $link_foreground;
		}
	}
}

a%fancy_link {
	// -webkit-tap-highlight-color: transparentize($link_foreground, .5);
	@include border-radius(3px);
	@include box-shadow(0 1px 0 0 rgba(0,0,0,0), 0 -40px 40px -40px rgba(0,0,0,0) inset);
	@include text-shadow(0 1px 1px rgba(0,0,0,0));
	@include transition-duration(.1s);
	@include transition-property('background-color, box-shadow, color, text-decoration, text-shadow');
	background-color: transparent;
	display: inline-block;
	margin: -0.2em -0.4em;
	padding: 0.2em 0.4em;
	position: relative;

	&:hover {
		@include box-shadow(0 1px 0 0 rgba(0,0,0,.2), 0 -40px 40px -40px rgba(0,0,0,.35) inset);
		@include text-shadow(0 1px 1px rgba(0,0,0,.3));
		background-color: $link_hover_background;
		color: $link_hover_foreground;
		z-index: 2;
	}
	
	// &[rel="external"] {
	// 	@include background-image(
	// 		linear-gradient(225deg, rgba(255,255,255,1) 0, rgba(255,255,255,.7) 1px, rgba(255,255,255,0) 3px),
	// 		linear-gradient(225deg, rgba(255,255,255,.9) 0, rgba(255,255,255,.7) 6px, rgba(255,255,255,0) 6px),
	// 		linear-gradient(225deg, rgba(0,0,0,.15) 7px, rgba(0,0,0,0) 7px)
	// 	);
	// 	@include background-size(100%);
	// 	background-repeat: no-repeat;
	// 	background-position: 5px -5px;
	// 	
	// 	&:hover {
	// 		background-position: 0px 0px;
	// 	}
	// }
}

/** Layout */

#layout {
	background-color: $color_background;
	clear: both;
	float: left;
	min-height: 100%;
	position: relative;

	&.collapsed {
		background-color: transparent;
		width: $width_west;
	}
}

.layout-west {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	float: left;
	overflow: visible;
	position: relative;
	width: $width_west;
	z-index: 10;
}

.layout-center {
	margin-left: $width_west;
	position: relative;
	width: $width_center;
}

.print-only, .hidden {
	display: none;
}

@import "screen/_sprites";
@import "screen/_navigation";
@import "screen/_content";
@import "screen/_tipsy";
@import "screen/_me";
@import "screen/_mobile";


/** New page title */
// #content {
// 	.page-body {
// 		padding-top: 30px;
// 	}
// 	.page-title {
// 		@include background-image(linear-gradient(top, rgba(82,82,82,.9), rgba(119,119,119,.9)), image-url("noise_100.png"));
// 		@include border-radius(0);
// 		@include box-shadow(rgba(0,0,0,.5) 0px -4px 6px -4px inset);
// 		background: {
// 			color: #6a6a6a;
// 			position: 0 0;
// 			size: auto;
// 		}
// 		color: #eee;
// 		left: 0px;
// 		margin: 0px;
// 		padding: 0.3em 20px;
// 		position: absolute;
// 		right: 0px;
// 		text-shadow: rgba(0,0,0,.5) 0px 1px 1px;
// 		top: 0px;
// 	}
// 	a.page-title {
// 		@include background-image(linear-gradient(top, rgba(69,41,82,.9), rgba(100,59,117,.9)), image-url("noise_100.png"));
// 		color: #fff;
// 	}
// }
