#me-link-github:hover { background-color: #888; }
#me-link-lastfm:hover { background-color: #d51007; }
#me-link-twitter:hover { background-color: #33ccff; }

.tipsy-list {
	color: #fff;
	text-align: left;

	h3 {
		@include border-radius(2px);
		@include box-shadow(0 -30px 30px -20px rgba(0,0,0,.4) inset);
		@include text-shadow(0 -1px 0 rgba(0,0,0,.4));
		background: #888;
		color: #fff;
		display: block;
		line-height: 18px;
		font-size: inherit;
		font-weight: 700;
		padding: 0 5px 0;

		span {
			float: right;
			font-weight: 500;
		}
	}

	.event-date {
		color: #c3c3c3;
		display: block;
	}

	ul {
		margin: 0 1px 1px;
		width: 280px;
	}

	li {
		@include box-sizing(content-box);
		border-top: 1px solid #3d3d3d;
		border-bottom: 1px solid #1a1a1a;
		clear: both;
		padding: 4px 0;

		&:first-child {
			border-top-color: #1a1a1a;
		}
		&:last-child {
			border-bottom: 0;
			padding-bottom: 2px;
		}
	}
}

.twitter-timeline {
	h3 {
		background: #33ccff;
	}
}

$art-size: 42px;

.lastfm-recent {
	h3 {
		background: #d51007;
	}

	li {
		min-height: $art-size;
	}

	.track-artwork {
		float: left;
		height: $art-size;
		text-align:center;
		width: $art-size;

		img {
			@include box-shadow(0 1px 1px 0 rgba(0,0,0,.3));
			display: inline;
			max-height: $art-size;
			max-width: $art-size;
		}

		.missing-artwork {
			@include text-shadow(0 -1px 0 darken($color_foreground, 8%), 0 1px 1px lighten($color_foreground, 10%));
			color: lighten($color_foreground, 5%);
			font: {
				size: 22px;
				weight: 700;
			};
			height: 100%;
			line-height: $art-size;
			width: 100%;
		}
	}

	.track-info,
	.event-date {
		margin-left: $art-size + 4;
	}

	.now-playing {
		color: #fff763;
	}

	.track-name,
	.track-artist {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.track-name {
		font-weight: 700;
	}

	.track-artist span {
		color: #c3c3c3;
	}
}

