/** Width smaller than 930px */

$width_west: $width_west - 30;

@media screen and (max-device-width: 930px) {
	body {
		background-position: 15px top;
		height: 100%;
	}

	a {
		@include transition(none);
	}

	#layout,
	#layout.collapsed,
	.layout-inner,
	.layout-west,
	.layout-center {
		background: transparent none;
		bottom: auto;
		float: none;
		left: auto;
		margin: 0;
		max-width: 100%;
		min-height: 0;
		min-width: 0;
		overflow: visible;
		right: auto;
		top: auto;
		width: auto;
	}

	.layout-west {
		padding: 10px;
	}

	#navigation {
		@include border-radius(10px);
		background: {
			color: $navigation_background;
			image: image-url("background-navigation.png");
			position: right top;
			repeat: repeat-y;
			size: auto;
		};
		margin: 0 auto;
		max-width: $width_west;
		padding: 0;
		position: relative;
		text-align: left;
		width: auto;

		html.cssgradients.multiplebgs.boxshadow &,
		html.cssgradients.multiplebgs.boxshadow .collapsed & {
			@include background-image(
				linear-gradient(top, rgba(0,0,0,.07), rgba(0,0,0,0)),
				linear-gradient(left, transparentize($navigation_background, .1), transparentize($navigation_background, .1)),
				image-url("noise_100.png")
			);
			@include background-size(cover, cover, auto);
			background: {
				position: 0 0;
				repeat: no-repeat, no-repeat, repeat;
			};
			@include box-shadow(
				0 -1px 1px 0 rgba(0,0,0,.08) inset,
				0 1px 3px 0 rgba(0,0,0,.3) inset,
				0 0 3px 0 rgba(0,0,0,.3) inset,
				0 1px 0 0 rgba(255,255,255,.2),
				1px 0 0 0 rgba(255,255,255,.2),
				-1px 0 0 0 rgba(255,255,255,.2)
			);
		}

		.content-links {
			padding: 0 10px 10px;
			text-align: left;

			a {
				@include border-radius(3px);
				margin: 3px 0;
				padding: 0 10px;
			}
		}
	}

	.site-icon,
	.site-icon:hover {
		left: auto;
		right: 7px;
		top: 12px;

		span {
			@include sprite($MAP_spr, "site-icon_small", true);
		}
	}

	.me-links {
		float: left;
		font-size: 1.1em;
		
		a {
			float: right;
		}

		li {
			float: left;
			margin: {
				left: 0;
				right: 4px;
			};
		}

		li.left {
			float: right;
			margin: {
				left: 4px;
				right: 0;
			};
		}
	}

	.layout-center {
		padding: 10px 30px 20px;
	}

	#content {
		@include border-radius(8px);
		@include box-shadow(0 -1px 4px -1px rgba(0,0,0,.3), 0 1px 4px -1px rgba(0,0,0,.3), 0 0 8px 0 rgba(0,0,0,.2));
		@include box-sizing(border-box);
		background: {
			color: $color_background;
			position: 0 0;
		};
		margin: 0 auto;
		max-width: $width_center + 30;
		min-height: 250px;

		.collapsed & {
			display: none;
		}

		header {
			.page-title,
			.page-description {
				@include text-shadow(none);
			}

			h1.page-title {
				font-weight: normal;
			}
		}
	}
}

@media screen and (max-device-width: 640px) {
	.layout-center {
		padding: 0;
	}

	#content {
		@include border-radius(0);
		margin: 0;
		max-width: none;
		padding: {
			left: 15px;
			right: 15px;
		};
	}
}