<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<title>{{ page.title }}{% if page.title %} | {% endif %}{{ site.title }}</title>{% if page.description or page.subtitle %}
	<meta name="description" content="{{ page.description }}{% unless page.description %}{{ page.subtitle }}{% endunless %}">{% endif %}{% if page.author %}
	<meta name="author" content="{{ page.author }}">{% endif %}

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,300,400,600,700">
	<link rel="stylesheet" type="text/css" href="/assets/css/all.css" media="all">
	<link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print">
	<link rel="stylesheet" type="text/css" href="/assets/css/screen.css" media="screen, projection">

	<link rel="shortcut icon" href="/favicon.ico">
	<!--[if gte IE 9]><link rel="shortcut icon" href="/assets/img/icon/favicon-all.ico"><![endif]-->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/icon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon-precomposed" href="/assets/img/icon/apple-touch-icon-57x57.png">
{% if site.environment == "production" %}
	<script src="/assets/js/all.js" type="text/javascript"></script>
{% else %}
	<script src="/assets/js/src/log.js" type="text/javascript"></script>
	<script src="/assets/js/src/modernizr.custom.js" type="text/javascript"></script>
	<script src="/assets/js/src/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="/assets/js/src/jquery/jquery-ajax-localstorage-cache.js" type="text/javascript"></script>	
	<script src="/assets/js/src/jquery/jquery.date.js" type="text/javascript"></script>
	<script src="/assets/js/src/jquery/jquery.tipsy.js" type="text/javascript"></script>
	<script src="/assets/js/src/string._template.js" type="text/javascript"></script>
	<script src="/assets/js/src/site.js" type="text/javascript"></script>
	<script src="/assets/js/src/site/content.js" type="text/javascript"></script>
	<script src="/assets/js/src/site/links.js" type="text/javascript"></script>
	<script src="/assets/js/src/site/navigation.js" type="text/javascript"></script>
	<script src="/assets/js/src/site/ui.js" type="text/javascript"></script>
	<script src="/assets/js/src/site/me.js" type="text/javascript"></script>
	<script src="/assets/js/src/site/me/github.js" type="text/javascript"></script>
	<script src="/assets/js/src/site/me/lastfm.js" type="text/javascript"></script>
	<script src="/assets/js/src/site/me/twitter.js" type="text/javascript"></script>
{% endif %}
	<script type="text/javascript">
	jQuery(function () {
		Site.init({
			title: "{{ site.title }}",
			url: "{{ site.url }}",
			twitter: "{{ site.author.twitter }}",
			github: "{{ site.author.github }}",
			lastfm: "{{ site.author.lastfm }}",
			lastfm_apikey: "{{ site.lastfm_apikey }}"
		});
	});
	</script>
{% if site.environment == "production" %}
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-12612599-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
{% endif %}
</head>
<body>
	<div id="layout" class="{% if page.collapsed %}collapsed{% else %}expanded{% endif %}">
		<div class="layout-west">
			<div id="navigation">
				<header class="header" itemscope itemtype="http://schema.org/Person">
					<h1 class="site-title" itemprop="name">
						{% if site.author.name_given %}<span itemprop="givenName">{{ site.author.name_given }}</span>{% endif %}
						{% if site.author.name_family %}<span itemprop="familyName">{{ site.author.name_family }}</span>{% endif %}
					</h1>
					{% if site.author.job_title %}<meta itemprop="jobTitle" content="{{ site.author.job_title }}">{% endif %}
					{% if site.author.address %}<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						{% if site.author.address.locality %}<meta itemprop="addressLocality" content="{{ site.author.address.locality }}">{% endif %}
						{% if site.author.address.region %}<meta itemprop="addressRegion" content="{{ site.author.address.region }}">{% endif %}
						{% if site.author.address.country %}<meta itemprop="addressCountry" content="{{ site.author.address.country }}">{% endif %}
					</span>{% endif %}
					<a href="/" class="site-icon" itemprop="url"><span class="spr-site-icon">{{ site.subtitle }}</span></a>
					<nav class="my-links">
						<ul class="my-links-left">
							<li><a href="/resume.html">R&eacute;sum&eacute;</a></li>
						</ul>
						<ul class="my-links-right">
							{% if site.author.github %}<li><a rel="external" href="http://github.com/{{ site.author.github }}" title="github" target="_blank" class="github-link"><span class="spr-github">github</span></a></li>{% endif %}
							{% if site.author.lastfm %}<li><a rel="external" href="http://www.last.fm/user/{{ site.author.lastfm }}" title="last.fm" target="_blank" class="lastfm-link"><span class="spr-lastfm">last.fm</span></a></li>{% endif %}
							{% if site.author.twitter %}<li><a rel="external" href="http://twitter.com/{{ site.author.twitter }}" title="twitter" target="_blank" class="twitter-link"><span class="spr-twitter">twitter</span></a></li>{% endif %}
						</ul>
					</nav>
				</header>
				<ul class="content-links">
					<li><a href="/projects/RegexTool/">RegexTool</a></li>
					<li><a href="/projects/scott.textmate/">scott.textmate</a></li>
				</ul>
			</div>
		</div>
		<div class="layout-center">
			<div id="content">
{{ content }}
			</div>
		</div>
	</div>
</body>
</html>