<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
{% capture site_title %}{{ site.me.name.given }} {{ site.me.name.family }}{% endcapture %}
	<title>{{ page.title }}{% if page.title %} | {% endif %}{{ site_title }}</title>
{% if page.description %}	<meta name="description" content="{{ page.description }}">{% endif %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700i&amp;text={{ site_title | cgi_escape }}">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400i,500i,700i|Ubuntu+Mono:400">
	<link rel="stylesheet" type="text/css" href="/assets/css/all.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print">
	<link rel="stylesheet" type="text/css" href="/assets/css/screen.css" media="screen, projection">
	<link rel="shortcut icon" href="/favicon.ico">
	<!--[if gte IE 9]><link rel="shortcut icon" href="/assets/img/icon/favicon-all.ico"><![endif]-->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/icon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon-precomposed" href="/assets/img/icon/apple-touch-icon-57x57.png">
{% if site.environment == "production" %}
	<script src="/assets/all.js" type="text/javascript"></script>
{% include google-analytics.html %}
{% else %}
	<script src="/assets/js/log.js" type="text/javascript"></script>
	<script src="/assets/js/modernizr-2.6.2.custom.js" type="text/javascript"></script>
	<script src="/assets/js/jquery/jquery-1.8.1.min.js" type="text/javascript"></script>
	<script src="/assets/js/jquery/plugins/jquery.date.js" type="text/javascript"></script>
	<script src="/assets/js/jquery/plugins/jquery.tipsy.js" type="text/javascript"></script>
	<script src="/assets/js/string._template.js" type="text/javascript"></script>
	<script src="/assets/js/site.js" type="text/javascript"></script>
	<script src="/assets/js/site/content.js" type="text/javascript"></script>
	<script src="/assets/js/site/links.js" type="text/javascript"></script>
	<script src="/assets/js/site/navigation.js" type="text/javascript"></script>
	<script src="/assets/js/site/me.js" type="text/javascript"></script>
	<script src="/assets/js/site/me/github.js" type="text/javascript"></script>
	<script src="/assets/js/site/me/lastfm.js" type="text/javascript"></script>
	<script src="/assets/js/site/me/twitter.js" type="text/javascript"></script>
	<script src="/assets/js/init.js" type="text/javascript"></script>
{% endif %}
</head>
<body>
	<div id="layout" class="{% if page.collapsed %}collapsed{% else %}expanded{% endif %}">
		<div class="layout-west">
			<div id="navigation">
				<header class="header" itemscope itemtype="http://schema.org/Person">
					<h1 class="site-title" itemprop="name">
						{% if site.me.name.given %}<span itemprop="givenName">{{ site.me.name.given }}</span>{% endif %}
						{% if site.me.name.family %}<span itemprop="familyName">{{ site.me.name.family }}</span>{% endif %}
					</h1>
					{% if site.me.job_title %}<meta itemprop="jobTitle" content="{{ site.me.job_title }}">{% endif %}
					{% if site.me.address %}<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						{% if site.me.address.locality %}<meta itemprop="addressLocality" content="{{ site.me.address.locality }}">{% endif %}
						{% if site.me.address.region %}<meta itemprop="addressRegion" content="{{ site.me.address.region }}">{% endif %}
						{% if site.me.address.country %}<meta itemprop="addressCountry" content="{{ site.me.address.country }}">{% endif %}
					</span>{% endif %}
					<a href="/" class="site-icon" itemprop="url"><span class="spr-site-icon">{{ site.url | replace_first:'http://','' }}</span></a>
					<nav class="me-links">
						<ul>
							{% if site.me.resume %}<li class="left"><a href="{{ site.me.resume }}">R&eacute;sum&eacute;</a></li>{% endif %}
							{% if site.me.twitter %}<li><a href="http://twitter.com/{{ site.me.twitter }}" id="me-link-twitter" title="twitter" rel="external" target="_blank"><span class="spr-twitter">twitter</span></a></li>{% endif %}
							{% if site.me.lastfm %}<li><a href="http://www.last.fm/user/{{ site.me.lastfm }}" id="me-link-lastfm" title="last.fm" target="_blank"><span class="spr-lastfm">last.fm</span></a></li>{% endif %}
							{% if site.me.github %}<li><a href="http://github.com/{{ site.me.github }}" id="me-link-github" title="github" target="_blank"><span class="spr-github">github</span></a></li>{% endif %}
						</ul>
					</nav>
				</header>
				<ul class="content-links">
					<li><a href="/projects/RegexTool/">RegexTool</a></li>
					<li><a href="/projects/scott.textmate/">scott.textmate</a></li>
{% if site.environment == "development" %}<li><a href="/sandbox.html">Sandbox</a></li>{% endif %}
				</ul>
			</div>
		</div>
		<div class="layout-center">
			<div id="content">
{{ content }}
			</div>
		</div>
	</div>
</body>
</html>