---
layout: default
---
<div id="layout" class="{% if page.collapsed %}collapsed{% else %}expanded{% endif %}">
	<div class="layout-inner">
		<div class="layout-west">
			<div id="navigation">
				<a href="/" class="site-icon"><span>Home</span></a>
				<header class="header">
					<h1 class="site-title">{{ site.title }}</h1>
					<div class="mylinks">
						<a href="/resume.html" class="link-resume">r&eacute;sum&eacute;</a>
						<ul class="mylinks-icons">
							<li><a rel="external" href="http://twitter.com/wafflesnatcha" title="@wafflesnatcha" target="_blank"><span class="spr-twitter">twitter</span></a></li>
							<li><a rel="external" href="http://github.com/wafflesnatcha" title="GitHub.com" target="_blank"><span class="spr-github">github</span></a></li>
							<li><a rel="external" href="http://www.last.fm/user/wafflesnatcha" title="Last.fm" target="_blank"><span class="spr-lastfm">last.fm</span></a></li>
						</ul>
					</div>
				</header>
				<nav class="projects">
					<ul>
						<li><a href="/projects/RegexTool/">RegexTool</a></li>
						<li><a href="/projects/scott.textmate/">scott.textmate</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="layout-center">
			<div class="layout-page">
				<section id="content">
{{ content }}
				</section>
			</div>
		</div>
	</div>
</div>
